Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v1-localstack2_12 PRs, Label aws-v1-localstack3 PRs, Label aws-v2-localstack PRs, Label aws-v2-localstack2_12 PRs, Label aws-v2-localstack3 PRs, Label compat PRs, Label compat2_12 PRs, Label compat3 PRs, Label compatJS PRs, Label compatJS2_12 PRs, Label compatJS3 PRs, Label compatNative PRs, Label compatNative2_12 PRs, Label compatNative3 PRs, Label docs PRs, Label integration-tests PRs, Label integration-tests3 PRs, Label integration-testsJS PRs, Label integration-testsJS3 PRs, Label integration-testsNative3 PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-ciris2_12 PRs, Label kcl-ciris3 PRs, Label kcl-http4s PRs, Label kcl-http4s2_12 PRs, Label kcl-http4s3 PRs, Label kcl-localstack PRs, Label kcl-localstack2_12 PRs, Label kcl-localstack3 PRs, Label kcl-logging-circe PRs, Label kcl-logging-circe2_12 PRs, Label kcl-logging-circe3 PRs, Label kcl2_12 PRs, Label kcl3 PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-localstack2_12 PRs, Label kinesis-client-localstack3 PRs, Label kinesis-client-logging-circe PRs, Label kinesis-client-logging-circe2_12 PRs, Label kinesis-client-logging-circe3 PRs, Label kinesis-client2_12 PRs, Label kinesis-client3 PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-ciris2_12 PRs, Label kpl-ciris3 PRs, Label kpl-localstack PRs, Label kpl-localstack2_12 PRs, Label kpl-localstack3 PRs, Label kpl-logging-circe PRs, Label kpl-logging-circe2_12 PRs, Label kpl-logging-circe3 PRs, Label kpl2_12 PRs, Label kpl3 PRs, Label root-js-212 PRs, Label root-js-213 PRs, Label root-js-3 PRs, Label root-jvm-212 PRs, Label root-jvm-213 PRs, Label root-jvm-3 PRs, Label root-native-212 PRs, Label root-native-213 PRs, Label root-native-3 PRs, Label shared PRs, Label shared-circe PRs, Label shared-circe2_12 PRs, Label shared-circe3 PRs, Label shared-circeJS PRs, Label shared-circeJS2_12 PRs, Label shared-circeJS3 PRs, Label shared-circeNative PRs, Label shared-circeNative2_12 PRs, Label shared-circeNative3 PRs, Label shared-ciris PRs, Label shared-ciris2_12 PRs, Label shared-ciris3 PRs, Label shared-cirisJS PRs, Label shared-cirisJS2_12 PRs, Label shared-cirisJS3 PRs, Label shared-cirisNative PRs, Label shared-cirisNative3 PRs, Label shared-localstack PRs, Label shared-localstack2_12 PRs, Label shared-localstack3 PRs, Label shared-localstackJS PRs, Label shared-localstackJS2_12 PRs, Label shared-localstackJS3 PRs, Label shared-localstackNative PRs, Label shared-localstackNative3 PRs, Label shared2_12 PRs, Label shared3 PRs, Label sharedJS PRs, Label sharedJS2_12 PRs, Label sharedJS3 PRs, Label sharedNative PRs, Label sharedNative2_12 PRs, Label sharedNative3 PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-localstack3 PRs, Label smithy4s-client-localstackJS PRs, Label smithy4s-client-localstackJS3 PRs, Label smithy4s-client-localstackNative3 PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-logging-circe3 PRs, Label smithy4s-client-logging-circeJS PRs, Label smithy4s-client-logging-circeJS3 PRs, Label smithy4s-client-logging-circeNative3 PRs, Label smithy4s-client-transformers PRs, Label smithy4s-client-transformers2_12 PRs, Label smithy4s-client3 PRs, Label smithy4s-clientJS PRs, Label smithy4s-clientJS3 PRs, Label smithy4s-clientNative3 PRs, Label unidocs PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v1-localstack2_12 PRs: any of: ^.sbt/matrix/aws-v1-localstack2_12/
  Label aws-v1-localstack3 PRs: any of: ^.sbt/matrix/aws-v1-localstack3/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label aws-v2-localstack2_12 PRs: any of: ^.sbt/matrix/aws-v2-localstack2_12/
  Label aws-v2-localstack3 PRs: any of: ^.sbt/matrix/aws-v2-localstack3/
  Label compat PRs: any of: ^compat/
  Label compat2_12 PRs: any of: ^.sbt/matrix/compat2_12/
  Label compat3 PRs: any of: ^.sbt/matrix/compat3/
  Label compatJS PRs: any of: ^.sbt/matrix/compatJS/
  Label compatJS2_12 PRs: any of: ^.sbt/matrix/compatJS2_12/
  Label compatJS3 PRs: any of: ^.sbt/matrix/compatJS3/
  Label compatNative PRs: any of: ^.sbt/matrix/compatNative/
  Label compatNative2_12 PRs: any of: ^.sbt/matrix/compatNative2_12/
  Label compatNative3 PRs: any of: ^.sbt/matrix/compatNative3/
  Label docs PRs: any of: ^.sbt/matrix/docs/
  Label integration-tests PRs: any of: ^integration-tests/
  Label integration-tests3 PRs: any of: ^.sbt/matrix/integration-tests3/
  Label integration-testsJS PRs: any of: ^.sbt/matrix/integration-testsJS/
  Label integration-testsJS3 PRs: any of: ^.sbt/matrix/integration-testsJS3/
  Label integration-testsNative3 PRs: any of: ^.sbt/matrix/integration-testsNative3/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-ciris2_12 PRs: any of: ^.sbt/matrix/kcl-ciris2_12/
  Label kcl-ciris3 PRs: any of: ^.sbt/matrix/kcl-ciris3/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-http4s2_12 PRs: any of: ^.sbt/matrix/kcl-http4s2_12/
  Label kcl-http4s3 PRs: any of: ^.sbt/matrix/kcl-http4s3/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-localstack2_12 PRs: any of: ^.sbt/matrix/kcl-localstack2_12/
  Label kcl-localstack3 PRs: any of: ^.sbt/matrix/kcl-localstack3/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kcl-logging-circe2_12 PRs: any of: ^.sbt/matrix/kcl-logging-circe2_12/
  Label kcl-logging-circe3 PRs: any of: ^.sbt/matrix/kcl-logging-circe3/
  Label kcl2_12 PRs: any of: ^.sbt/matrix/kcl2_12/
  Label kcl3 PRs: any of: ^.sbt/matrix/kcl3/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-localstack2_12 PRs: any of: ^.sbt/matrix/kinesis-client-localstack2_12/
  Label kinesis-client-localstack3 PRs: any of: ^.sbt/matrix/kinesis-client-localstack3/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kinesis-client-logging-circe2_12 PRs: any of: ^.sbt/matrix/kinesis-client-logging-circe2_12/
  Label kinesis-client-logging-circe3 PRs: any of: ^.sbt/matrix/kinesis-client-logging-circe3/
  Label kinesis-client2_12 PRs: any of: ^.sbt/matrix/kinesis-client2_12/
  Label kinesis-client3 PRs: any of: ^.sbt/matrix/kinesis-client3/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-ciris2_12 PRs: any of: ^.sbt/matrix/kpl-ciris2_12/
  Label kpl-ciris3 PRs: any of: ^.sbt/matrix/kpl-ciris3/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-localstack2_12 PRs: any of: ^.sbt/matrix/kpl-localstack2_12/
  Label kpl-localstack3 PRs: any of: ^.sbt/matrix/kpl-localstack3/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label kpl-logging-circe2_12 PRs: any of: ^.sbt/matrix/kpl-logging-circe2_12/
  Label kpl-logging-circe3 PRs: any of: ^.sbt/matrix/kpl-logging-circe3/
  Label kpl2_12 PRs: any of: ^.sbt/matrix/kpl2_12/
  Label kpl3 PRs: any of: ^.sbt/matrix/kpl3/
  Label root-js-212 PRs: any of: ^root-js-212/
  Label root-js-213 PRs: any of: ^root-js-213/
  Label root-js-3 PRs: any of: ^root-js-3/
  Label root-jvm-212 PRs: any of: ^root-jvm-212/
  Label root-jvm-213 PRs: any of: ^root-jvm-213/
  Label root-jvm-3 PRs: any of: ^root-jvm-3/
  Label root-native-212 PRs: any of: ^root-native-212/
  Label root-native-213 PRs: any of: ^root-native-213/
  Label root-native-3 PRs: any of: ^root-native-3/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-circe2_12 PRs: any of: ^.sbt/matrix/shared-circe2_12/
  Label shared-circe3 PRs: any of: ^.sbt/matrix/shared-circe3/
  Label shared-circeJS PRs: any of: ^.sbt/matrix/shared-circeJS/
  Label shared-circeJS2_12 PRs: any of: ^.sbt/matrix/shared-circeJS2_12/
  Label shared-circeJS3 PRs: any of: ^.sbt/matrix/shared-circeJS3/
  Label shared-circeNative PRs: any of: ^.sbt/matrix/shared-circeNative/
  Label shared-circeNative2_12 PRs: any of: ^.sbt/matrix/shared-circeNative2_12/
  Label shared-circeNative3 PRs: any of: ^.sbt/matrix/shared-circeNative3/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-ciris2_12 PRs: any of: ^.sbt/matrix/shared-ciris2_12/
  Label shared-ciris3 PRs: any of: ^.sbt/matrix/shared-ciris3/
  Label shared-cirisJS PRs: any of: ^.sbt/matrix/shared-cirisJS/
  Label shared-cirisJS2_12 PRs: any of: ^.sbt/matrix/shared-cirisJS2_12/
  Label shared-cirisJS3 PRs: any of: ^.sbt/matrix/shared-cirisJS3/
  Label shared-cirisNative PRs: any of: ^.sbt/matrix/shared-cirisNative/
  Label shared-cirisNative3 PRs: any of: ^.sbt/matrix/shared-cirisNative3/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label shared-localstack2_12 PRs: any of: ^.sbt/matrix/shared-localstack2_12/
  Label shared-localstack3 PRs: any of: ^.sbt/matrix/shared-localstack3/
  Label shared-localstackJS PRs: any of: ^.sbt/matrix/shared-localstackJS/
  Label shared-localstackJS2_12 PRs: any of: ^.sbt/matrix/shared-localstackJS2_12/
  Label shared-localstackJS3 PRs: any of: ^.sbt/matrix/shared-localstackJS3/
  Label shared-localstackNative PRs: any of: ^.sbt/matrix/shared-localstackNative/
  Label shared-localstackNative3 PRs: any of: ^.sbt/matrix/shared-localstackNative3/
  Label shared2_12 PRs: any of: ^.sbt/matrix/shared2_12/
  Label shared3 PRs: any of: ^.sbt/matrix/shared3/
  Label sharedJS PRs: any of: ^.sbt/matrix/sharedJS/
  Label sharedJS2_12 PRs: any of: ^.sbt/matrix/sharedJS2_12/
  Label sharedJS3 PRs: any of: ^.sbt/matrix/sharedJS3/
  Label sharedNative PRs: any of: ^.sbt/matrix/sharedNative/
  Label sharedNative2_12 PRs: any of: ^.sbt/matrix/sharedNative2_12/
  Label sharedNative3 PRs: any of: ^.sbt/matrix/sharedNative3/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-localstack3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstack3/
  Label smithy4s-client-localstackJS PRs: any of: ^.sbt/matrix/smithy4s-client-localstackJS/
  Label smithy4s-client-localstackJS3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstackJS3/
  Label smithy4s-client-localstackNative3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstackNative3/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-logging-circe3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circe3/
  Label smithy4s-client-logging-circeJS PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeJS/
  Label smithy4s-client-logging-circeJS3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeJS3/
  Label smithy4s-client-logging-circeNative3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeNative3/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label smithy4s-client-transformers2_12 PRs: any of: ^.sbt/matrix/smithy4s-client-transformers2_12/
  Label smithy4s-client3 PRs: any of: ^.sbt/matrix/smithy4s-client3/
  Label smithy4s-clientJS PRs: any of: ^.sbt/matrix/smithy4s-clientJS/
  Label smithy4s-clientJS3 PRs: any of: ^.sbt/matrix/smithy4s-clientJS3/
  Label smithy4s-clientNative3 PRs: any of: ^.sbt/matrix/smithy4s-clientNative3/
  Label unidocs PRs: any of: ^unidocs/

Remove sonatype configs
  project/Kinesis4CatsPlugin.scala
Due: none

Bump AWS SDK
  project/LibraryDependencies.scala
Due: none

Fix merge strategy
  build.sbt
Due: none

Remove Scala 2.12 Support
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Upgrade to Java 21
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Bump docker to JDK 21
  docker/Dockerfile
Due: none

Revert "Upgrade to Java 21"
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Remove Scala 2.12 Support (#507)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  docker/Dockerfile
  project/Kinesis4CatsPlugin.scala
Due: none

Remove AWS V1
  .github/workflows/ci.yml
  .mergify.yml
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsCreds.scala
  build.sbt
  docs/localstack/aws-v1.md
  docs/localstack/directory.conf
  shared/src/main/scala/kinesis4cats/models/AwsRegion.scala
Due: Label aws-v1-localstack PRs, Label shared PRs

deploy: d18995951f8bcd10292f951e69fe71bd793a90e8
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Remove AWS V1 (#508)
  .github/workflows/ci.yml
  .mergify.yml
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsCreds.scala
  build.sbt
  docs/localstack/aws-v1.md
  docs/localstack/directory.conf
  shared/src/main/scala/kinesis4cats/models/AwsRegion.scala
Due: Label aws-v1-localstack PRs, Label shared PRs

deploy: 9ebb8e0afecd3c79506a71084dc8ce0fb0e136d7
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Set up Mima against 0.2
  project/Kinesis4CatsPlugin.scala
Due: none

Set up Mima against 0.2 (#509)
  project/Kinesis4CatsPlugin.scala
Due: none

deploy: 9a031207dc9eb257c13f96b13ecdcfdfb806a232
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Safely construct LogContext
  kcl/src/main/scala/kinesis4cats/kcl/RecordProcessor.scala
  kinesis-client/src/main/scala/kinesis4cats/client/CloudWatchClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/DynamoClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/SubscribeToShardHandler.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
  shared/src/main/scala/kinesis4cats/Utils.scala
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/ResponseLogger.scala
Due: Label kcl PRs, Label kinesis-client PRs, Label kpl PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

Replace uses of randomUUIDString with randomUUIDStringSafe
  integration-tests/src/main/scalajvm/kinesis4cats/kcl/http4s/TestKCLService.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  shared/src/main/scala/kinesis4cats/Utils.scala
Due: Label integration-tests PRs, Label kcl PRs, Label shared PRs

deploy: 2ddc040c3c067815a4ab07cbc25b7c016bc9907b
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Minor cleanup, private function
  shared/src/main/scala/kinesis4cats/Utils.scala
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
Due: Label shared PRs

Refactor to safely construct LogContext (#516)
  integration-tests/src/main/scalajvm/kinesis4cats/kcl/http4s/TestKCLService.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/RecordProcessor.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kinesis-client/src/main/scala/kinesis4cats/client/CloudWatchClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/DynamoClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/SubscribeToShardHandler.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
  shared/src/main/scala/kinesis4cats/Utils.scala
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/ResponseLogger.scala
Due: Label integration-tests PRs, Label kcl PRs, Label kinesis-client PRs, Label kpl PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

deploy: c823c4db26f8062b23f6eb91c955795bf9a7d481
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Fix compile
  build.sbt
  project/LibraryDependencies.scala
Due: none

Fill in gaps in KCL configuration for ciris
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/fs2/ciris/KCLCirisFS2.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  project/KCLCirisSpecVars.scala
Due: Label kcl-ciris PRs

deploy: 5553e95a2d3fd61a7c548b635d429d05946229a3
  kcl/ciris.html
Due: Label kcl PRs

deploy: 4b5260ae018e3ccdee123637e90c1253f685e7fd
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Update Scala Native to 0.5.x
  .github/workflows/ci.yml
  project/LibraryDependencies.scala
  project/plugins.sbt
Due: none

Update Scala Native to 0.5.x (#578)
  .github/workflows/ci.yml
  project/LibraryDependencies.scala
  project/plugins.sbt
Due: none

deploy: 9c89c18894687f2d343ae921c74d6315adbc9ad5
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Bump tlBaseVersion from 0.2 to 0.3
  project/Kinesis4CatsPlugin.scala
Due: none

Bump tlBaseVersion from 0.2 to 0.3 (#579)
  project/Kinesis4CatsPlugin.scala
Due: none

deploy: 7f88f817f158e08e19a87cca16da8bb8274fe595
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Update dependencies
  .gitignore
  docker/docker-compose.yml
  docs/smithy4s/getting-started.md
  project/LibraryDependencies.scala
  project/plugins.sbt
Due: none

Backfill several missing configs for ciris
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/fs2/ciris/KCLCirisFS2.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/instances/ciris.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  project/KCLCirisSpecVars.scala
Due: Label kcl-ciris PRs

Add environment variable
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

Add runIntegrationTests flag + itTest alias to plugin
  project/Kinesis4CatsPlugin.scala
Due: none

Add shared-testkit module with IntegrationSuite base trait
  build.sbt
  shared-testkit/src/main/scala/kinesis4cats/testkit/IntegrationSuite.scala
Due: none

Move cross-platform integration-test scaffolding to shared-testkit
  build.sbt
  shared-testkit/src/main/resources/logback-test.xml
  shared-testkit/src/main/scala/kinesis4cats/SSL.scala
  shared-testkit/src/main/scala/kinesis4cats/TestData.scala
  shared-testkit/src/main/scala/kinesis4cats/logging/ConsoleLogger.scala
  shared-testkit/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared-testkit/src/main/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  shared-testkit/src/main/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  shared-testkit/src/main/scala/kinesis4cats/syntax/scalacheck.scala
Due: none

Add kcl-http4s-test-server module and move TestKCLService
  build.sbt
  kcl-http4s-test-server/src/main/resources/logback.xml
  kcl-http4s-test-server/src/main/scala/kinesis4cats/kcl/http4s/TestKCLService.scala
Due: none
