Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label integration-tests PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-localstack PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-transformers PRs, Label unidocs PRs

Label aws-v1-localstack PRs:
  label:
    add:
    - aws-v1-localstack
    remove: []

Label aws-v2-localstack PRs:
  label:
    add:
    - aws-v2-localstack
    remove: []

Label compat PRs:
  label:
    add:
    - compat
    remove: []

Label integration-tests PRs:
  label:
    add:
    - integration-tests
    remove: []

Label kcl PRs:
  label:
    add:
    - kcl
    remove: []

Label kcl-ciris PRs:
  label:
    add:
    - kcl-ciris
    remove: []

Label kcl-http4s PRs:
  label:
    add:
    - kcl-http4s
    remove: []

Label kcl-localstack PRs:
  label:
    add:
    - kcl-localstack
    remove: []

Label kcl-logging-circe PRs:
  label:
    add:
    - kcl-logging-circe
    remove: []

Label kinesis-client PRs:
  label:
    add:
    - kinesis-client
    remove: []

Label kinesis-client-localstack PRs:
  label:
    add:
    - kinesis-client-localstack
    remove: []

Label kinesis-client-logging-circe PRs:
  label:
    add:
    - kinesis-client-logging-circe
    remove: []

Label kpl PRs:
  label:
    add:
    - kpl
    remove: []

Label kpl-ciris PRs:
  label:
    add:
    - kpl-ciris
    remove: []

Label kpl-localstack PRs:
  label:
    add:
    - kpl-localstack
    remove: []

Label kpl-logging-circe PRs:
  label:
    add:
    - kpl-logging-circe
    remove: []

Label shared PRs:
  label:
    add:
    - shared
    remove: []

Label shared-circe PRs:
  label:
    add:
    - shared-circe
    remove: []

Label shared-ciris PRs:
  label:
    add:
    - shared-ciris
    remove: []

Label shared-localstack PRs:
  label:
    add:
    - shared-localstack
    remove: []

Label smithy4s-client PRs:
  label:
    add:
    - smithy4s-client
    remove: []

Label smithy4s-client-localstack PRs:
  label:
    add:
    - smithy4s-client-localstack
    remove: []

Label smithy4s-client-logging-circe PRs:
  label:
    add:
    - smithy4s-client-logging-circe
    remove: []

Label smithy4s-client-transformers PRs:
  label:
    add:
    - smithy4s-client-transformers
    remove: []

Label unidocs PRs:
  label:
    add:
    - unidocs
    remove: []

Remove Xsource:3 from compat
  build.sbt
Due: none

deploy: de54c60b0f4d0dd5449383e354126c72ac455468
  client/circe.html
  client/getting-started.html
  client/localstack.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Fix Publish
  build.sbt
Due: none

Fix Publish (#111)
  build.sbt
Due: none

deploy: 3b5e801a38e9d96fc308bac244e9f2e82cb63288
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Update sbt-typelevel, ... to 0.4.20
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update log4cats-core, log4cats-noop, ... to 2.6.0
  project/LibraryDependencies.scala
Due: none

Update cats-effect to 3.4.10
  project/LibraryDependencies.scala
Due: none

Update amazon-kinesis-producer to 0.15.7
  project/LibraryDependencies.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.6
  project/plugins.sbt
Due: none

draft: default clients for KCL
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
Due: Label kcl PRs, Label kcl-localstack PRs

map -> andThen
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
Due: Label kcl PRs

fix mdoc
  docs/kcl/circe.md
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  project/plugins.sbt
Due: Label kcl PRs, Label kcl-localstack PRs

Update sbt-typelevel, ... to 0.4.20 (#112)
  .github/workflows/ci.yml
  .mergify.yml
  project/plugins.sbt
Due: none

Update log4cats-core, log4cats-noop, ... to 2.6.0 (#113)
  project/LibraryDependencies.scala
Due: none

Update cats-effect to 3.4.10 (#114)
  project/LibraryDependencies.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.6 (#116)
  project/plugins.sbt
Due: none

Update amazon-kinesis-producer to 0.15.7 (#115)
  project/LibraryDependencies.scala
Due: none

deploy: 0f4b9092e5460b047b55641d3062d0d61810931b
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Default Clients for the KCL (#117)
  docs/kcl/circe.md
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  project/plugins.sbt
Due: Label kcl PRs, Label kcl-localstack PRs

deploy: 8ea14b623d37c4194294933a3bd12657d3e6ab28
  kcl/circe.html
  kcl/getting-started.html
  kcl/http4s.html
Due: Label kcl PRs

Update sbt-mdoc to 2.3.7
  project/plugins.sbt
Due: none

Update sbt-mdoc to 2.3.7 (#118)
  project/plugins.sbt
Due: none

Release as java-8 for most modules, java-11 for smithy4s modules
  build.sbt
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
  project/Kinesis4CatsPlugin.scala
  shared/src/main/scala/kinesis4cats/syntax/bytebuffer.scala
  smithy4s-client-transformers/src/main/scala/kinesis4cats/smithy4s/client/KinesisSpecTransformer.scala
Due: Label kpl PRs, Label shared PRs, Label smithy4s-client-transformers PRs

Fix test
  shared/src/test/scalajvm/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
Due: Label shared PRs

Release as JDK 8+ for most modules, JDK 11+ for smithy4s modules (#120)
  build.sbt
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
  project/Kinesis4CatsPlugin.scala
  shared/src/main/scala/kinesis4cats/syntax/bytebuffer.scala
  shared/src/test/scalajvm/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  smithy4s-client-transformers/src/main/scala/kinesis4cats/smithy4s/client/KinesisSpecTransformer.scala
Due: Label kpl PRs, Label shared PRs, Label smithy4s-client-transformers PRs

Remove smithy4s manifest entry from smithy modules
  build.sbt
Due: none

Update protocol in Localstack proxy
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
Due: Label smithy4s-client-localstack PRs

Remove smithy4s manifest entry from smithy modules (#124)
  build.sbt
Due: none

deploy: 9109d2ab3d3d21bfc8c997d14ee661842801e67a
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

putN for FS2Producer
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Use Foldable instead of NonEmptyList
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

unused
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Update protocol in Localstack proxy (#125)
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
Due: Label smithy4s-client-localstack PRs

Use Chunk
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Shade Smithy4s Generated Classes
  build.sbt
  project/plugins.sbt
Due: none

Shade Smithy4s Generated Classes (#127)
  build.sbt
  project/plugins.sbt
Due: none

deploy: 983b4bf1e05c18509bc93d9a2ef470eeb3a01200
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label integration-tests PRs: any of: ^integration-tests/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label unidocs PRs: any of: ^unidocs/
