Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label integration-tests PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-localstack PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-transformers PRs, Label unidocs PRs

Label aws-v1-localstack PRs:
  label:
    add:
    - aws-v1-localstack
    remove: []

Label aws-v2-localstack PRs:
  label:
    add:
    - aws-v2-localstack
    remove: []

Label compat PRs:
  label:
    add:
    - compat
    remove: []

Label integration-tests PRs:
  label:
    add:
    - integration-tests
    remove: []

Label kcl PRs:
  label:
    add:
    - kcl
    remove: []

Label kcl-ciris PRs:
  label:
    add:
    - kcl-ciris
    remove: []

Label kcl-http4s PRs:
  label:
    add:
    - kcl-http4s
    remove: []

Label kcl-localstack PRs:
  label:
    add:
    - kcl-localstack
    remove: []

Label kcl-logging-circe PRs:
  label:
    add:
    - kcl-logging-circe
    remove: []

Label kinesis-client PRs:
  label:
    add:
    - kinesis-client
    remove: []

Label kinesis-client-localstack PRs:
  label:
    add:
    - kinesis-client-localstack
    remove: []

Label kinesis-client-logging-circe PRs:
  label:
    add:
    - kinesis-client-logging-circe
    remove: []

Label kpl PRs:
  label:
    add:
    - kpl
    remove: []

Label kpl-ciris PRs:
  label:
    add:
    - kpl-ciris
    remove: []

Label kpl-localstack PRs:
  label:
    add:
    - kpl-localstack
    remove: []

Label kpl-logging-circe PRs:
  label:
    add:
    - kpl-logging-circe
    remove: []

Label shared PRs:
  label:
    add:
    - shared
    remove: []

Label shared-circe PRs:
  label:
    add:
    - shared-circe
    remove: []

Label shared-ciris PRs:
  label:
    add:
    - shared-ciris
    remove: []

Label shared-localstack PRs:
  label:
    add:
    - shared-localstack
    remove: []

Label smithy4s-client PRs:
  label:
    add:
    - smithy4s-client
    remove: []

Label smithy4s-client-localstack PRs:
  label:
    add:
    - smithy4s-client-localstack
    remove: []

Label smithy4s-client-logging-circe PRs:
  label:
    add:
    - smithy4s-client-logging-circe
    remove: []

Label smithy4s-client-transformers PRs:
  label:
    add:
    - smithy4s-client-transformers
    remove: []

Label unidocs PRs:
  label:
    add:
    - unidocs
    remove: []

More WIP
  shared/src/main/scala/kinesis4cats/consumer/CommittableRecord.scala
  shared/src/main/scala/kinesis4cats/consumer/Coordinator.scala
  shared/src/main/scala/kinesis4cats/consumer/StartingPosition.scala
  shared/src/main/scala/kinesis4cats/consumer/fetch/Fetcher.scala
  shared/src/main/scala/kinesis4cats/consumer/logging/instances/show.scala
  shared/src/main/scala/kinesis4cats/models/ChildShard.scala
Due: Label shared PRs

Update logback-classic to 1.4.6
  project/LibraryDependencies.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.5
  project/plugins.sbt
Due: none

Update logback-classic to 1.4.6 (#82)
  project/LibraryDependencies.scala
Due: none

Update nscplugin, sbt-scala-native, ... to 0.4.11
  project/plugins.sbt
Due: none

Update slf4j-nop to 2.0.7
  project/plugins.sbt
Due: none

Update amazon-kinesis-client to 2.4.7
  project/LibraryDependencies.scala
Due: none

Update nscplugin, sbt-scala-native, ... to 0.4.12
  project/plugins.sbt
Due: none

Update amazon-kinesis-client to 2.4.8
  project/LibraryDependencies.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.5 (#83)
  project/plugins.sbt
Due: none

Update slf4j-nop to 2.0.7 (#85)
  project/plugins.sbt
Due: none

Updates to the newest KCL routines
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  docs/kcl/localstack.md
  integration-tests/src/main/scalajvm/kinesis4cats/kcl/http4s/TestKCLService.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/eq.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/show.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  project/LibraryDependencies.scala
Due: Label integration-tests PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-localstack PRs

Update nscplugin, sbt-scala-native, ... to 0.4.12 (#87)
  project/plugins.sbt
Due: none

Fix localstack setup
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
Due: Label integration-tests PRs, Label kcl-localstack PRs

Update amazon-kinesis-client to 2.4.8 (#88)
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  docs/kcl/localstack.md
  integration-tests/src/main/scalajvm/kinesis4cats/kcl/http4s/TestKCLService.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/eq.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/show.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  project/LibraryDependencies.scala
Due: Label integration-tests PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-localstack PRs

Update scalafmt-core to 3.7.3
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.3 (#89)
  .scalafmt.conf
Due: none

Separate methods for create/delete stream in localstack utilities
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
Due: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs

Re-use in client project
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
Due: Label kinesis-client-localstack PRs

Separate methods for create/delete stream in localstack utilities (#90)
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
Due: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label kinesis-client-localstack PRs

Update sbt-crossproject to 1.3.0
  project/plugins.sbt
Due: none

deploy: 7bb743dbefdb134fc41efcc4d196dc0b8df3df37
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Limit test dependencies to test scope
  build.sbt
Due: none

Limit test dependencies to test scope (#92)
  build.sbt
Due: none

Update sbt-crossproject to 1.3.0 (#91)
  project/plugins.sbt
Due: none

deploy: e50d82b7cc7c10e8a22e2ecfb92be92eb7adba19
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Update sbt-scalajs, scalajs-compiler, ... to 1.13.1
  project/plugins.sbt
Due: none

Update sbt-scalajs, scalajs-compiler, ... to 1.13.1 (#93)
  project/plugins.sbt
Due: none

remove auto reload
  build.sbt
Due: none

Update source references in docs
  docs/client/getting-started.md
  docs/client/localstack.md
  docs/index.md
  docs/kcl/ciris.md
  docs/kcl/http4s.md
  docs/kcl/localstack.md
  docs/kpl/ciris.md
  docs/kpl/localstack.md
  docs/smithy4s/getting-started.md
  docs/smithy4s/localstack.md
Due: none

WIP: KCL consumer builder
  docs/kcl/getting-started.md
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
Due: Label kcl PRs

WIP
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
Due: Label shared PRs

Add apply method for KinesisClient
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
Due: Label kinesis-client PRs

Drop smithy files from smithy4s-client
  build.sbt
Due: none

Add apply method for KinesisProducer (#99)
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
Due: Label kinesis-client PRs

restore plugin in kcl-http4s
  build.sbt
Due: none

Drop smithy files from smithy4s-client (#101)
  build.sbt
Due: none

Update cats-effect to 3.4.9
  project/LibraryDependencies.scala
Due: none

Update cats-effect to 3.4.9 (#102)
  project/LibraryDependencies.scala
Due: none

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label integration-tests PRs: any of: ^integration-tests/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label unidocs PRs: any of: ^unidocs/
