Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label integration-tests PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-localstack PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-transformers PRs, Label unidocs PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label integration-tests PRs: any of: ^integration-tests/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label unidocs PRs: any of: ^unidocs/

Add retries to dockerComposeUp, Link Native steps (#149)
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

Update epollcat to 0.1.5
  project/LibraryDependencies.scala
Due: none

Update scala-library to 2.12.18
  project/Kinesis4CatsPlugin.scala
Due: none

Update scala-library to 2.13.11
  .github/workflows/ci.yml
  kcl/src/main/scala/kinesis4cats/kcl/multistream/DetectAndDefer.scala
  kcl/src/main/scala/kinesis4cats/kcl/multistream/MultiStreamTracker.scala
  kcl/src/main/scala/kinesis4cats/kcl/multistream/ProvideAndDefer.scala
  project/Kinesis4CatsPlugin.scala
Due: Label kcl PRs

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update scala-library to 2.12.18 (#151)
  project/Kinesis4CatsPlugin.scala
Due: none

Revert commit(s) e550ac5, bc96fe3
  .github/workflows/ci.yml
  .mergify.yml
  kcl/src/main/scala/kinesis4cats/kcl/multistream/DetectAndDefer.scala
  kcl/src/main/scala/kinesis4cats/kcl/multistream/MultiStreamTracker.scala
  kcl/src/main/scala/kinesis4cats/kcl/multistream/ProvideAndDefer.scala
  project/Kinesis4CatsPlugin.scala
Due: Label kcl PRs

Update munit, munit-scalacheck to 1.0.0-M8
  project/LibraryDependencies.scala
Due: none

Update logback-classic to 1.4.8
  project/LibraryDependencies.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.9
  project/plugins.sbt
Due: none

Update http4s-circe, http4s-ember-client, ... to 0.23.20
  project/LibraryDependencies.scala
Due: none

Update logback-classic to 1.4.8 (#154)
  project/LibraryDependencies.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.10
  project/plugins.sbt
Due: none

Update http4s-circe, http4s-ember-client, ... to 0.23.21
  project/LibraryDependencies.scala
Due: none

Add missing method
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label smithy4s-client PRs

Update http4s-circe, http4s-ember-client, ... to 0.23.21 (#158)
  project/LibraryDependencies.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.10 (#157)
  project/plugins.sbt
Due: none

Update munit, munit-scalacheck to 1.0.0-M8 (#153)
  project/LibraryDependencies.scala
Due: none

Update scala-library to 2.13.11 (#152)
  .github/workflows/ci.yml
  .mergify.yml
  kcl/src/main/scala/kinesis4cats/kcl/multistream/DetectAndDefer.scala
  kcl/src/main/scala/kinesis4cats/kcl/multistream/MultiStreamTracker.scala
  kcl/src/main/scala/kinesis4cats/kcl/multistream/ProvideAndDefer.scala
  project/Kinesis4CatsPlugin.scala
Due: Label kcl PRs

Update epollcat to 0.1.5 (#150)
  project/LibraryDependencies.scala
Due: none

deploy: e599ef3d770cdcb23c1cc20673c53a0d98b63728
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Allow setting underlying producer config
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label smithy4s-client PRs

Improve FS2Producer background loop error handling
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Restart loop at all times (not only errors)
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Add missing method (#159)
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label smithy4s-client PRs

Remove unused config
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Allow setting underlying producer config (#161)
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label smithy4s-client PRs

Fix FS2Producer Resource Bug
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Remove unused config (#162)
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Use F[F[Unit]] for FS2Producer
  integration-tests/src/test/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label integration-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

Update shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Update sbt-projectmatrix to 0.9.1
  project/plugins.sbt
Due: none

Update sbt-scalajs, scalajs-compiler, ... to 1.13.2
  project/plugins.sbt
Due: none

Update sbt-scalajs, scalajs-compiler, ... to 1.13.2 (#166)
  project/plugins.sbt
Due: none

Address comments
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Close channel when loop ends + race hanging requests
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Change default policy
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Update sbt-projectmatrix to 0.9.1 (#165)
  project/plugins.sbt
Due: none
