Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label integration-tests PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-localstack PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-transformers PRs, Label unidocs PRs

Label aws-v1-localstack PRs:
  label:
    add:
    - aws-v1-localstack
    remove: []

Label aws-v2-localstack PRs:
  label:
    add:
    - aws-v2-localstack
    remove: []

Label compat PRs:
  label:
    add:
    - compat
    remove: []

Label integration-tests PRs:
  label:
    add:
    - integration-tests
    remove: []

Label kcl PRs:
  label:
    add:
    - kcl
    remove: []

Label kcl-ciris PRs:
  label:
    add:
    - kcl-ciris
    remove: []

Label kcl-http4s PRs:
  label:
    add:
    - kcl-http4s
    remove: []

Label kcl-localstack PRs:
  label:
    add:
    - kcl-localstack
    remove: []

Label kcl-logging-circe PRs:
  label:
    add:
    - kcl-logging-circe
    remove: []

Label kinesis-client PRs:
  label:
    add:
    - kinesis-client
    remove: []

Label kinesis-client-localstack PRs:
  label:
    add:
    - kinesis-client-localstack
    remove: []

Label kinesis-client-logging-circe PRs:
  label:
    add:
    - kinesis-client-logging-circe
    remove: []

Label kpl PRs:
  label:
    add:
    - kpl
    remove: []

Label kpl-ciris PRs:
  label:
    add:
    - kpl-ciris
    remove: []

Label kpl-localstack PRs:
  label:
    add:
    - kpl-localstack
    remove: []

Label kpl-logging-circe PRs:
  label:
    add:
    - kpl-logging-circe
    remove: []

Label shared PRs:
  label:
    add:
    - shared
    remove: []

Label shared-circe PRs:
  label:
    add:
    - shared-circe
    remove: []

Label shared-ciris PRs:
  label:
    add:
    - shared-ciris
    remove: []

Label shared-localstack PRs:
  label:
    add:
    - shared-localstack
    remove: []

Label smithy4s-client PRs:
  label:
    add:
    - smithy4s-client
    remove: []

Label smithy4s-client-localstack PRs:
  label:
    add:
    - smithy4s-client-localstack
    remove: []

Label smithy4s-client-logging-circe PRs:
  label:
    add:
    - smithy4s-client-logging-circe
    remove: []

Label smithy4s-client-transformers PRs:
  label:
    add:
    - smithy4s-client-transformers
    remove: []

Label unidocs PRs:
  label:
    add:
    - unidocs
    remove: []

WIP
  kinesis-client/src/main/scala/kinesis4cats/client/producer/metrics/CloudwatchMetricsReporter.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/Dimension.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/Granularity.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/Level.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/Metric.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/MetricsReporter.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/StandardUnit.scala
Due: Label kinesis-client PRs, Label shared PRs

Revert "Shade Smithy4s Generated Classes (#127)"
  build.sbt
  project/plugins.sbt
Due: none

Revert shading (#129)
  build.sbt
  project/plugins.sbt
Due: none

deploy: 88cd65369eb83f58c18949ca4a18735e450a77a6
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Update fs2-core, fs2-reactive-streams to 3.7.0
  project/LibraryDependencies.scala
Due: none

Update ciris to 3.2.0
  project/LibraryDependencies.scala
Due: none

Update http4s-blaze-client to 0.23.15
  project/LibraryDependencies.scala
Due: none

Update http4s-circe, http4s-ember-client, ... to 0.23.19
  project/LibraryDependencies.scala
Due: none

Update sbt to 1.8.3
  project/build.properties
Due: none

Update cats-effect to 3.4.11
  project/LibraryDependencies.scala
Due: none

Update sbt-typelevel, ... to 0.4.21
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

Update amazon-kinesis-client to 2.5.0
  project/LibraryDependencies.scala
Due: none

Update cats-effect to 3.4.11 (#136)
  project/LibraryDependencies.scala
Due: none

Update cats-effect to 3.5.0
  project/LibraryDependencies.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.7
  project/plugins.sbt
Due: none

Update scala3-library, ... to 3.3.0
  project/Kinesis4CatsPlugin.scala
Due: none

Update scalafmt-core to 3.7.4
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.4 (#142)
  .scalafmt.conf
Due: none

Update sbt-scalafix to 0.11.0
  project/plugins.sbt
Due: none

Dependency updates
  .github/workflows/ci.yml
  integration-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/CloudWatchClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/DynamoClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kpl/KPLProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  kcl-http4s/src/main/scala/kinesis4cats/kcl/http4s/KCLService.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  project/build.properties
  project/plugins.sbt
Due: Label integration-tests PRs, Label kcl-http4s PRs

Dependency updates (#144)
  .github/workflows/ci.yml
  integration-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/CloudWatchClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/DynamoClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kpl/KPLProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  kcl-http4s/src/main/scala/kinesis4cats/kcl/http4s/KCLService.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  project/build.properties
  project/plugins.sbt
Due: Label integration-tests PRs, Label kcl-http4s PRs

deploy: 01f23534afecfa89b10cefefdb8600d1b6619e7d
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Refactor Producer Results + Better FS2 Error Handling
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/instances/eq.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
  shared/src/test/scalajvm/kinesis4cats/MD5Spec.scala
  shared/src/test/scalajvm/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

Doc fixes
  docs/client/localstack.md
  docs/kcl/getting-started.md
  docs/kpl/localstack.md
  docs/smithy4s/localstack.md
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
Due: Label shared PRs

Expose RetryPolicy
  compat/src/main/scala/kinesis4cats/compat/retry/PolicyDecision.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryDetails.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryPolicies.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryPolicy.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryStatus.scala
Due: Label compat PRs

Raise the error
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Refactor Producer Results + Better FS2 Error Handling + Public Retry (#145)
  compat/src/main/scala/kinesis4cats/compat/retry/PolicyDecision.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryDetails.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryPolicies.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryPolicy.scala
  compat/src/main/scala/kinesis4cats/compat/retry/RetryStatus.scala
  docs/client/localstack.md
  docs/kcl/getting-started.md
  docs/kpl/localstack.md
  docs/smithy4s/localstack.md
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/instances/eq.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
  shared/src/test/scalajvm/kinesis4cats/MD5Spec.scala
  shared/src/test/scalajvm/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label compat PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

deploy: 1edbea891c1ab73a768aea679c14681af47bbca2
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.8
  project/plugins.sbt
Due: none

Update nscplugin, sbt-scala-native, ... to 0.4.14
  project/plugins.sbt
Due: none

Update sbt-typelevel, ... to 0.4.22
  project/plugins.sbt
Due: none

Add retries to dockerComposeUp, Link Native steps
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.8 (#146)
  project/plugins.sbt
Due: none

Update nscplugin, sbt-scala-native, ... to 0.4.14 (#147)
  project/plugins.sbt
Due: none

fix
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

deploy: afac53f5b245090e46de0e2b5002e09a40f2d1c5
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

one more fix
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

Update sbt-typelevel, ... to 0.4.22 (#148)
  project/plugins.sbt
Due: none

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label integration-tests PRs: any of: ^integration-tests/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label unidocs PRs: any of: ^unidocs/
