Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-fs2 PRs, Label kcl-fs2-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kcl-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kinesis-client-producer-tests PRs, Label kinesis-client-tests PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label kpl-tests PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-localstack PRs, Label shared-tests PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs, Label smithy4s-client-transformers PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-fs2 PRs: any of: ^kcl-fs2/
  Label kcl-fs2-ciris PRs: any of: ^kcl-fs2-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kcl-tests PRs: any of: ^kcl-tests/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kinesis-client-producer-tests PRs: any of: ^kinesis-client-producer-tests/
  Label kinesis-client-tests PRs: any of: ^kinesis-client-tests/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label kpl-tests PRs: any of: ^kpl-tests/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label shared-tests PRs: any of: ^shared-tests/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-producer-tests PRs: any of: ^smithy4s-client-producer-tests/
  Label smithy4s-client-tests PRs: any of: ^smithy4s-client-tests/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/

Refactoring + WIP on test
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  kcl-tests/src/it/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kernel-tests/src/main/scala/kinesis4cats/TestData.scala
  kernel-tests/src/main/scala/kinesis4cats/syntax/scalacheck.scala
  kinesis-client-tests/src/it/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/it/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label kcl-tests PRs, Label kinesis-client-tests PRs, Label kpl-tests PRs, Label shared PRs, Label shared-tests PRs, Label smithy4s-client-tests PRs

Fix test
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
Due: Label shared PRs

More tests
  kernel-tests/src/main/scala/kinesis4cats/TestData.scala
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
Due: Label shared PRs

Make lots of things private, pretty
  build.sbt
  compat/src/main/scala-2.12/kinesis4cats/compat/LazyListCompat.scala
  compat/src/main/scala-2.13/kinesis4cats/compat/LazyListCompat.scala
  compat/src/main/scala-3/kinesis4cats/compat/LazyListCompat.scala
  kernel-tests/src/main/scala/kinesis4cats/TestData.scala
  shared-ciris/src/main/scala/kinesis4cats/ciris/CirisReader.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/ShowBuilder.scala
  shared/src/main/scala/kinesis4cats/models/ConsumerArn.scala
  shared/src/main/scala/kinesis4cats/models/HashKeyRange.scala
  shared/src/main/scala/kinesis4cats/models/ShardId.scala
  shared/src/main/scala/kinesis4cats/models/StreamArn.scala
  shared/src/main/scala/kinesis4cats/models/StreamNameOrArn.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/Utils.scala
Due: Label compat PRs, Label shared PRs, Label shared-ciris PRs, Label shared-tests PRs, Label smithy4s-client PRs

Add scaladoc
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
Due: Label shared PRs

Add mdoc
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
Due: none

Re-add toString overrides
  shared/src/main/scala/kinesis4cats/models/ConsumerArn.scala
  shared/src/main/scala/kinesis4cats/models/StreamArn.scala
Due: Label shared PRs

doc fixes
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
Due: Label shared PRs

Doc fixes
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
Due: Label shared PRs

Pretty
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
Due: Label shared PRs

Kinesis Aggregation (#53)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  compat/src/main/scala-2.12/kinesis4cats/compat/LazyListCompat.scala
  compat/src/main/scala-2.13/kinesis4cats/compat/LazyListCompat.scala
  compat/src/main/scala-3/kinesis4cats/compat/LazyListCompat.scala
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  kcl-tests/src/it/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/it/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kernel-tests/src/main/scala/kinesis4cats/TestData.scala
  kernel-tests/src/main/scala/kinesis4cats/syntax/scalacheck.scala
  kinesis-client-tests/src/it/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/it/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  shared-ciris/src/main/scala/kinesis4cats/ciris/CirisReader.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/ShowBuilder.scala
  shared/src/main/scala/kinesis4cats/models/ConsumerArn.scala
  shared/src/main/scala/kinesis4cats/models/HashKeyRange.scala
  shared/src/main/scala/kinesis4cats/models/ShardId.scala
  shared/src/main/scala/kinesis4cats/models/StreamArn.scala
  shared/src/main/scala/kinesis4cats/models/StreamNameOrArn.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/test/scala/kinesis4cats/instances/eq.scala
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/Utils.scala
Due: Label compat PRs, Label kcl-tests PRs, Label kinesis-client-tests PRs, Label kpl-tests PRs, Label shared PRs, Label shared-ciris PRs, Label shared-tests PRs, Label smithy4s-client PRs, Label smithy4s-client-tests PRs

deploy: fa7e1f1b2fc464334ba8c06b69777e1e93fb46df
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris-fs2.html
  kcl/ciris.html
  kcl/fs2.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Add putWithRetry
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
Due: Label kinesis-client PRs, Label shared PRs, Label smithy4s-client PRs

Add test
  build.sbt
  shared/src/test/resources/logback-test.xml
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
Due: Label shared PRs

Update log message
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
Due: Label shared PRs

Add putWithRetry (#54)
  build.sbt
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/test/resources/logback-test.xml
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
Due: Label kinesis-client PRs, Label shared PRs, Label smithy4s-client PRs

deploy: 2dccda5f515422853c8b1a49fe0ace1fa42c1982
  client/getting-started.html
  smithy4s/getting-started.html
Due: none

FS2 Kinesis Producers
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  kinesis-client-fs2/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared-fs2/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  smithy4s-client-fs2/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label shared PRs

pretty
  kinesis-client-fs2/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared-fs2/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: none

Use system protoc in CI to avoid flakiness
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

Some scaladoc, logging, put method
  kinesis-client-fs2/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared-fs2/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  smithy4s-client-fs2/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: none

Authenticate requests
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

Move protoc into JobSetup
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

LocalstackFS2KinesisProducer
  build.sbt
  kcl-fs2/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  shared-fs2/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackKinesisProducer.scala
Due: Label kcl-fs2 PRs, Label kinesis-client-localstack PRs, Label smithy4s-client-localstack PRs

Tests
  build.sbt
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-producer-tests/src/it/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  shared-fs2/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared-tests/src/main/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
Due: Label kinesis-client-localstack PRs, Label kinesis-client-producer-tests PRs, Label shared-tests PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-producer-tests PRs

mdoc
  docs/client/directory.conf
  docs/client/fs2.md
  docs/client/localstack.md
  docs/smithy4s/directory.conf
  docs/smithy4s/fs2.md
  docs/smithy4s/localstack.md
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
Due: Label smithy4s-client-producer-tests PRs

Fix tests
  kinesis-client-producer-tests/src/it/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
Due: Label kinesis-client-producer-tests PRs, Label shared-tests PRs, Label smithy4s-client-producer-tests PRs

temporarily update log levels
  smithy4s-client-producer-tests/src/it/resources/logback-test.xml
Due: Label smithy4s-client-producer-tests PRs

Run a refresh in the foreground of ShardMapCache before running the background loop
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/ResponseLogger.scala
Due: Label shared PRs, Label smithy4s-client PRs

Revert "temporarily update log levels"
  smithy4s-client-producer-tests/src/it/resources/logback-test.xml
Due: Label smithy4s-client-producer-tests PRs

Add tests for producing when the shard map is empty
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kinesis-client-producer-tests/src/it/scala/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client-producer-tests/src/it/resources/logback-test.xml
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-producer-tests PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-producer-tests PRs

pretty
  kinesis-client-producer-tests/src/it/scala/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
Due: Label kinesis-client-producer-tests PRs

Add coverage around deaggregation
  build.sbt
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
Due: Label shared PRs

Fix aggregation by only aggregating records that share a partition key
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  smithy4s-client-producer-tests/src/it/resources/logback-test.xml
Due: Label shared PRs, Label smithy4s-client-producer-tests PRs

compile fix
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
Due: Label shared PRs

FS2 Kinesis Producers (#55)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  docs/client/directory.conf
  docs/client/fs2.md
  docs/client/localstack.md
  docs/smithy4s/directory.conf
  docs/smithy4s/fs2.md
  docs/smithy4s/localstack.md
  kcl-fs2/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kinesis-client-fs2/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-producer-tests/src/it/scala/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  kinesis-client-producer-tests/src/it/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  project/Kinesis4CatsPlugin.scala
  shared-fs2/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared-tests/src/main/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/test/scala/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  smithy4s-client-fs2/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/ResponseLogger.scala
Due: Label kcl-fs2 PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-producer-tests PRs, Label shared PRs, Label shared-tests PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-producer-tests PRs

deploy: a3648db0d39017b3da41c6105a4f4c75655071fe
  client/fs2.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris-fs2.html
  kcl/ciris.html
  kcl/fs2.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/fs2.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Add unidocs module to root
  build.sbt
Due: none

worfklowGenerate
  .mergify.yml
Due: none
