Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-fs2 PRs, Label kcl-fs2-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kcl-tests PRs, Label kernel-tests PRs, Label kinesis-client PRs, Label kinesis-client-fs2 PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kinesis-client-producer-tests PRs, Label kinesis-client-tests PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label kpl-tests PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-fs2 PRs, Label shared-localstack PRs, Label shared-tests PRs, Label smithy4s-client PRs, Label smithy4s-client-fs2 PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs, Label smithy4s-client-transformers PRs, Label unidocs PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-fs2 PRs: any of: ^kcl-fs2/
  Label kcl-fs2-ciris PRs: any of: ^kcl-fs2-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kcl-tests PRs: any of: ^kcl-tests/
  Label kernel-tests PRs: any of: ^kernel-tests/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-fs2 PRs: any of: ^kinesis-client-fs2/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kinesis-client-producer-tests PRs: any of: ^kinesis-client-producer-tests/
  Label kinesis-client-tests PRs: any of: ^kinesis-client-tests/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label kpl-tests PRs: any of: ^kpl-tests/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-fs2 PRs: any of: ^shared-fs2/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label shared-tests PRs: any of: ^shared-tests/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-fs2 PRs: any of: ^smithy4s-client-fs2/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-producer-tests PRs: any of: ^smithy4s-client-producer-tests/
  Label smithy4s-client-tests PRs: any of: ^smithy4s-client-tests/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label unidocs PRs: any of: ^unidocs/

WIP on tests
  .github/workflows/ci.yml
  build.sbt
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-fs2/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl-tests/src/main/scala/kinesis4cats/kcl/http4s/TestKCLService.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  project/plugins.sbt
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared-tests/src/main/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/Utils.scala
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label kcl PRs, Label kcl-ciris PRs, Label kcl-fs2 PRs, Label kcl-localstack PRs, Label kcl-tests PRs, Label kinesis-client-producer-tests PRs, Label kinesis-client-tests PRs, Label kpl-tests PRs, Label shared PRs, Label shared-tests PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs

Fix build
  .github/workflows/ci.yml
  build.sbt
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Fix native, progress on JS
  .gitignore
  build.sbt
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

concurrentRestrictions for ScalaJS
  build.sbt
Due: none

concurrentRestrictions for Native
  build.sbt
Due: none

Link separately from test
  .github/workflows/ci.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Limit to onlyJS/Native
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

parser -> jawn
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Fix mlock issue for native
  build.sbt
Due: none

Trace logs
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Integration tests should not be parallel
  build.sbt
Due: none

Revert "Trace logs"
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Use kinesis-mock directly (doesnt work)
  docker/docker-compose.yml
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Use kinesis-mock-jvm
  docker/docker-compose.yml
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Add sleeps
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Add docker logging, trace logs again
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

fix
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

trace logs for producer tests
  smithy4s-client-producer-tests/src/test/resources/logback-test.xml
Due: Label smithy4s-client-producer-tests PRs

Use insecureResource, add Logback
  build.sbt
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
Due: Label smithy4s-client-producer-tests PRs

interruptible
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
Due: Label kcl PRs

Get rid of resource leak
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
Due: Label kcl PRs

fix import
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
Due: Label smithy4s-client-producer-tests PRs

Point producer tests at kinesis-mock instead of localstack
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
Due: Label smithy4s-client-producer-tests PRs

increase timeout, use kinesis-mock for KPL to avoid shard map error
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
Due: Label kpl-tests PRs

remove trace logging
  docker/docker-compose.yml
  smithy4s-client-producer-tests/src/test/resources/logback-test.xml
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs

Fix tests locally
  kernel-tests/src/main/scala/kinesis4cats/localstack/Custom.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
Due: Label kernel-tests PRs, Label kpl-tests PRs, Label smithy4s-client-producer-tests PRs

Switch back to blocking
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
Due: Label kcl PRs

revert back to http4s latest
  project/LibraryDependencies.scala
Due: none

Go back to blaze for jvm
  build.sbt
  kernel-tests/src/main/scala/kinesis4cats/SSL.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
Due: Label kernel-tests PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs

header
  kernel-tests/src/main/scala/kinesis4cats/SSL.scala
Due: Label kernel-tests PRs

make scalafix happy
  kernel-tests/src/main/scala/kinesis4cats/SSL.scala
Due: Label kernel-tests PRs

UUIDGen instead of java.util.UUID + Build Updates
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-fs2/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl-tests/src/main/scala/kinesis4cats/kcl/http4s/TestKCLService.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared-tests/src/main/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/Utils.scala
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label kcl PRs, Label kcl-ciris PRs, Label kcl-fs2 PRs, Label kcl-localstack PRs, Label kcl-tests PRs, Label kinesis-client-producer-tests PRs, Label kinesis-client-tests PRs, Label kpl-tests PRs, Label shared PRs, Label shared-tests PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs

Better resource management for the KCL
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
Due: Label kcl PRs

Fix
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/KinesisProducerSpec.scala
  kinesis-client-producer-tests/src/test/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
Due: Label kinesis-client-producer-tests PRs

Destroy KPL
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
Due: Label kpl PRs

Disable parallelExecution on all projects
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Graceful shutdown for KPL
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
Due: Label kpl PRs

Interruptible
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
Due: Label kpl PRs

Increase maxConcurrency
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
Due: Label aws-v2-localstack PRs
