Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-fs2 PRs, Label kcl-fs2-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kcl-tests PRs, Label kernel-tests PRs, Label kinesis-client PRs, Label kinesis-client-fs2 PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kinesis-client-producer-tests PRs, Label kinesis-client-tests PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label kpl-tests PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-fs2 PRs, Label shared-localstack PRs, Label shared-tests PRs, Label smithy4s-client PRs, Label smithy4s-client-fs2 PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs, Label smithy4s-client-transformers PRs, Label unidocs PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-fs2 PRs: any of: ^kcl-fs2/
  Label kcl-fs2-ciris PRs: any of: ^kcl-fs2-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kcl-tests PRs: any of: ^kcl-tests/
  Label kernel-tests PRs: any of: ^kernel-tests/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-fs2 PRs: any of: ^kinesis-client-fs2/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kinesis-client-producer-tests PRs: any of: ^kinesis-client-producer-tests/
  Label kinesis-client-tests PRs: any of: ^kinesis-client-tests/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label kpl-tests PRs: any of: ^kpl-tests/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-fs2 PRs: any of: ^shared-fs2/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label shared-tests PRs: any of: ^shared-tests/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-fs2 PRs: any of: ^smithy4s-client-fs2/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-producer-tests PRs: any of: ^smithy4s-client-producer-tests/
  Label smithy4s-client-tests PRs: any of: ^smithy4s-client-tests/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label unidocs PRs: any of: ^unidocs/

Random consumer name
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label kinesis-client-tests PRs, Label smithy4s-client-tests PRs

MaxValue for maxConcurrency...
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
Due: Label aws-v2-localstack PRs

We dont need this many tests, logging instances can be tested easier
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2CirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2ShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientCirceSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientShowSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpecCirce.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpecShow.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label aws-v2-localstack PRs, Label kcl-tests PRs, Label kinesis-client-tests PRs, Label kpl-tests PRs, Label smithy4s-client-tests PRs

deploy: a8d65afa426dcbdaafd4ed99f0aef64709c916ed
  kcl/ciris.html
Due: Label kcl PRs

Merge remote-tracking branch 'origin/main' into http4sTest
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  docs/kcl/ciris.md
  kcl-tests/src/main/scala/kinesis4cats/kcl/http4s/TestKCLService.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/KCLConsumerSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2CirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2ShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiCirceSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiShowSpec.scala
  kcl-tests/src/test/scala/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientCirceSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientShowSpec.scala
  kinesis-client-tests/src/test/scala/kinesis4cats/client/KinesisClientSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpecCirce.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpecShow.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
  project/Kinesis4CatsPlugin.scala
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
Due: Label kcl-tests PRs, Label kinesis-client-tests PRs, Label kpl PRs, Label kpl-tests PRs, Label shared PRs, Label smithy4s-client-tests PRs

Merge remote-tracking branch 'origin/main' into http4sTest
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientCirceSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
Due: Label smithy4s-client-tests PRs

lets go back to localstack
  docker/docker-compose.yml
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientJSSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientShowSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientJSSpec.scala
Due: Label kpl-tests PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs

not needed
  build.sbt
Due: none

remove unneeded imports
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
Due: Label smithy4s-client-tests PRs

Disable native :(
  .github/workflows/ci.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Re-enable native
  .github/workflows/ci.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientNativeSpec.scala
Due: Label smithy4s-client-tests PRs

fmt
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientNativeSpec.scala
Due: Label smithy4s-client-tests PRs

Scala Native and JS tests for smithy4s client (#52)
  .github/workflows/ci.yml
  build.sbt
  kernel-tests/src/main/scala/kinesis4cats/SSL.scala
  kpl-tests/src/test/scala/kinesis4cats/kpl/KPLProducerSpec.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  project/plugins.sbt
  shared/src/main/scala/kinesis4cats/logging/LogContext.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/test/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  smithy4s-client-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientJSSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  smithy4s-client-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientNativeSpec.scala
Due: Label kernel-tests PRs, Label kpl-tests PRs, Label shared PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs

Consolidate tests / modules, use ScalaPB, use FS2 md5 hashing
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  integration-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientJSSpec.scala
  integration-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientNativeSpec.scala
  kernel-tests/src/main/scala/kinesis4cats/SSL.scala
  project/Kinesis4CatsPlugin.scala
  project/plugins.sbt
  shared/src/main/scala/kinesis4cats/Utils.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/test/scalajvm/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
  smithy4s-client-tests/src/test/scalajs/kinesis4cats/smithy4s/client/KinesisClientJSSpec.scala
  smithy4s-client-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
Due: Label kernel-tests PRs, Label shared PRs, Label smithy4s-client-tests PRs

dont box
  shared/src/main/scala/kinesis4cats/Utils.scala
Due: Label shared PRs

better syntax
  shared/src/main/scala/kinesis4cats/Utils.scala
Due: Label shared PRs

Manually created MD5 hashing algorithm (god help me)
  .github/workflows/ci.yml
  shared/src/main/scala/kinesis4cats/MD5.scala
  shared/src/test/scalajvm/kinesis4cats/MD5Spec.scala
Due: Label shared PRs

Scaladoc
  shared/src/main/scala/kinesis4cats/MD5.scala
Due: Label shared PRs

Fix Instant mapping
  build.sbt
  docker/docker-compose.yml
  integration-tests/src/test/scala/kinesis4cats/logging/ConsoleLogger.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  project/LibraryDependencies.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
Due: Label kinesis-client PRs, Label smithy4s-client PRs

Fix docker compose by creating a new module
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  docker/docker-compose.yml
  functional-tests/src/main/resources/logback.xml
  functional-tests/src/main/scala/kinesis4cats/kcl/http4s/TestKCLService.scala
Due: none

Fixes
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  docker/docker-compose.yml
  integration-tests/src/main/resources/logback.xml
  integration-tests/src/main/scalajvm/kinesis4cats/kcl/http4s/TestKCLService.scala
Due: none

fix
  build.sbt
Due: none

Separate test from all compiles
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

Lets try concurrentRestrictions for native...
  build.sbt
Due: none

Better root project matrix
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

fix build
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

no need for the scala version filter
  .github/workflows/ci.yml
  build.sbt
Due: none

Slim down matrix
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

add links back
  .github/workflows/ci.yml
  project/Kinesis4CatsPlugin.scala
Due: none

Re-enable integration tests for Scala 2.13 on JVM / JS
  .github/workflows/ci.yml
  build.sbt
Due: none

Re-add integration-tests for Scala 2.13
  build.sbt
Due: none

Build fixes
  build.sbt
  integration-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: none

deploy: 01af4a71e62d4debc0c17af6dfe406664b845cf8
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Add logback to jvm tests
  build.sbt
Due: none

Add logback file to kcl-tests
  kcl/src/test/resources/logback-test.xml
Due: Label kcl PRs

Concurrent restrictions
  project/Kinesis4CatsPlugin.scala
Due: none
