Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v1-localstack2_12 PRs, Label aws-v1-localstack3 PRs, Label aws-v2-localstack PRs, Label aws-v2-localstack2_12 PRs, Label aws-v2-localstack3 PRs, Label compat PRs, Label compat2_12 PRs, Label compat3 PRs, Label compatJS PRs, Label compatJS2_12 PRs, Label compatJS3 PRs, Label compatNative PRs, Label compatNative2_12 PRs, Label compatNative3 PRs, Label docs PRs, Label integration-tests PRs, Label integration-tests3 PRs, Label integration-testsJS PRs, Label integration-testsJS3 PRs, Label integration-testsNative3 PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-ciris2_12 PRs, Label kcl-ciris3 PRs, Label kcl-http4s PRs, Label kcl-http4s2_12 PRs, Label kcl-http4s3 PRs, Label kcl-localstack PRs, Label kcl-localstack2_12 PRs, Label kcl-localstack3 PRs, Label kcl-logging-circe PRs, Label kcl-logging-circe2_12 PRs, Label kcl-logging-circe3 PRs, Label kcl2_12 PRs, Label kcl3 PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-localstack2_12 PRs, Label kinesis-client-localstack3 PRs, Label kinesis-client-logging-circe PRs, Label kinesis-client-logging-circe2_12 PRs, Label kinesis-client-logging-circe3 PRs, Label kinesis-client2_12 PRs, Label kinesis-client3 PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-ciris2_12 PRs, Label kpl-ciris3 PRs, Label kpl-localstack PRs, Label kpl-localstack2_12 PRs, Label kpl-localstack3 PRs, Label kpl-logging-circe PRs, Label kpl-logging-circe2_12 PRs, Label kpl-logging-circe3 PRs, Label kpl2_12 PRs, Label kpl3 PRs, Label root-js-212 PRs, Label root-js-213 PRs, Label root-js-3 PRs, Label root-jvm-212 PRs, Label root-jvm-213 PRs, Label root-jvm-3 PRs, Label root-native-212 PRs, Label root-native-213 PRs, Label root-native-3 PRs, Label shared PRs, Label shared-circe PRs, Label shared-circe2_12 PRs, Label shared-circe3 PRs, Label shared-circeJS PRs, Label shared-circeJS2_12 PRs, Label shared-circeJS3 PRs, Label shared-circeNative PRs, Label shared-circeNative2_12 PRs, Label shared-circeNative3 PRs, Label shared-ciris PRs, Label shared-ciris2_12 PRs, Label shared-ciris3 PRs, Label shared-cirisJS PRs, Label shared-cirisJS2_12 PRs, Label shared-cirisJS3 PRs, Label shared-cirisNative PRs, Label shared-cirisNative3 PRs, Label shared-localstack PRs, Label shared-localstack2_12 PRs, Label shared-localstack3 PRs, Label shared-localstackJS PRs, Label shared-localstackJS2_12 PRs, Label shared-localstackJS3 PRs, Label shared-localstackNative PRs, Label shared-localstackNative3 PRs, Label shared2_12 PRs, Label shared3 PRs, Label sharedJS PRs, Label sharedJS2_12 PRs, Label sharedJS3 PRs, Label sharedNative PRs, Label sharedNative2_12 PRs, Label sharedNative3 PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-localstack3 PRs, Label smithy4s-client-localstackJS PRs, Label smithy4s-client-localstackJS3 PRs, Label smithy4s-client-localstackNative3 PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-logging-circe3 PRs, Label smithy4s-client-logging-circeJS PRs, Label smithy4s-client-logging-circeJS3 PRs, Label smithy4s-client-logging-circeNative3 PRs, Label smithy4s-client-transformers PRs, Label smithy4s-client-transformers2_12 PRs, Label smithy4s-client3 PRs, Label smithy4s-clientJS PRs, Label smithy4s-clientJS3 PRs, Label smithy4s-clientNative3 PRs, Label unidocs PRs

Label aws-v1-localstack PRs:
  label:
    add:
    - aws-v1-localstack
    remove: []

Label aws-v1-localstack2_12 PRs:
  label:
    add:
    - aws-v1-localstack2_12
    remove: []

Label aws-v1-localstack3 PRs:
  label:
    add:
    - aws-v1-localstack3
    remove: []

Label aws-v2-localstack PRs:
  label:
    add:
    - aws-v2-localstack
    remove: []

Label aws-v2-localstack2_12 PRs:
  label:
    add:
    - aws-v2-localstack2_12
    remove: []

Label aws-v2-localstack3 PRs:
  label:
    add:
    - aws-v2-localstack3
    remove: []

Label compat PRs:
  label:
    add:
    - compat
    remove: []

Label compat2_12 PRs:
  label:
    add:
    - compat2_12
    remove: []

Label compat3 PRs:
  label:
    add:
    - compat3
    remove: []

Label compatJS PRs:
  label:
    add:
    - compatJS
    remove: []

Label compatJS2_12 PRs:
  label:
    add:
    - compatJS2_12
    remove: []

Label compatJS3 PRs:
  label:
    add:
    - compatJS3
    remove: []

Label compatNative PRs:
  label:
    add:
    - compatNative
    remove: []

Label compatNative2_12 PRs:
  label:
    add:
    - compatNative2_12
    remove: []

Label compatNative3 PRs:
  label:
    add:
    - compatNative3
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label integration-tests PRs:
  label:
    add:
    - integration-tests
    remove: []

Label integration-tests3 PRs:
  label:
    add:
    - integration-tests3
    remove: []

Label integration-testsJS PRs:
  label:
    add:
    - integration-testsJS
    remove: []

Label integration-testsJS3 PRs:
  label:
    add:
    - integration-testsJS3
    remove: []

Label integration-testsNative3 PRs:
  label:
    add:
    - integration-testsNative3
    remove: []

Label kcl PRs:
  label:
    add:
    - kcl
    remove: []

Label kcl-ciris PRs:
  label:
    add:
    - kcl-ciris
    remove: []

Label kcl-ciris2_12 PRs:
  label:
    add:
    - kcl-ciris2_12
    remove: []

Label kcl-ciris3 PRs:
  label:
    add:
    - kcl-ciris3
    remove: []

Label kcl-http4s PRs:
  label:
    add:
    - kcl-http4s
    remove: []

Label kcl-http4s2_12 PRs:
  label:
    add:
    - kcl-http4s2_12
    remove: []

Label kcl-http4s3 PRs:
  label:
    add:
    - kcl-http4s3
    remove: []

Label kcl-localstack PRs:
  label:
    add:
    - kcl-localstack
    remove: []

Label kcl-localstack2_12 PRs:
  label:
    add:
    - kcl-localstack2_12
    remove: []

Label kcl-localstack3 PRs:
  label:
    add:
    - kcl-localstack3
    remove: []

Label kcl-logging-circe PRs:
  label:
    add:
    - kcl-logging-circe
    remove: []

Label kcl-logging-circe2_12 PRs:
  label:
    add:
    - kcl-logging-circe2_12
    remove: []

Label kcl-logging-circe3 PRs:
  label:
    add:
    - kcl-logging-circe3
    remove: []

Label kcl2_12 PRs:
  label:
    add:
    - kcl2_12
    remove: []

Label kcl3 PRs:
  label:
    add:
    - kcl3
    remove: []

Label kinesis-client PRs:
  label:
    add:
    - kinesis-client
    remove: []

Label kinesis-client-localstack PRs:
  label:
    add:
    - kinesis-client-localstack
    remove: []

Split out shared config for KCL localstack
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/Shared.scala
Due: Label kcl-localstack PRs

headers
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/Shared.scala
Due: Label kcl-localstack PRs

More config test coverage
  kcl-ciris/src/main/scala/kinesis4cats/kcl/instances/ciris.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  project/KCLCirisSpecVars.scala
Due: Label kcl-ciris PRs

Fix proto
  project/LibraryDependencies.scala
  shared/src/main/protobuf/kinesisMessages.proto
  shared/src/main/scala/kinesis4cats/consumer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
Due: Label shared PRs

Ciris Support for 2.6.1 KCL Config Updates
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/eq.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/show.scala
  project/KCLCirisSpecVars.scala
Due: Label kcl-ciris PRs

Ciris Support for 2.6.1 KCL Config Updates (#435)
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/eq.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/instances/show.scala
  project/KCLCirisSpecVars.scala
Due: Label kcl-ciris PRs

deploy: 1a749078124b0da798d5564d6bd739644ad412ce
  kcl/ciris.html
Due: Label kcl PRs

deploy: 277a87e36c853401487eb3df8a1bc2839fdc1ce5
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Remove unused jobs
  .github/workflows/release-drafter.yml
  .github/workflows/sbt-dependencies.yml
Due: none

docs updates
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  project/KCLCirisSpecVars.scala
Due: Label kcl-ciris PRs

Add workerMetricList support
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/fs2/ciris/KCLCirisFS2.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
Due: Label kcl-ciris PRs

deploy: c8515896a9863f47b1f68c2c855693cd6f827340
  kcl/ciris.html
  kpl/getting-started.html
Due: Label kcl PRs, Label kpl PRs

Fix tlBaseVersion
  project/Kinesis4CatsPlugin.scala
Due: none

deploy: a463c5c5a232d50eebeb5b005de77f185e46cf5a
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Fix mima check
  project/Kinesis4CatsPlugin.scala
Due: none

Fix for Deaggregating non-aggregated values
  shared/src/main/scala/kinesis4cats/consumer/Record.scala
  shared/src/test/scala/kinesis4cats/consumer/RecordSpec.scala
Due: Label shared PRs

Add circe encoder for KinesisStreamRecordPayload
  feral/src/main/scala/kinesis4cats/consumer/feral/KinesisStreamEvent.scala
  shared-circe/src/main/scala/kinesis4cats/models/instances/circe.scala
Due: Label shared-circe PRs

Update github workflow
  .github/workflows/ci.yml
Due: none

Fix for Deaggregating non-aggregated values (#454)
  shared/src/main/scala/kinesis4cats/consumer/Record.scala
  shared/src/test/scala/kinesis4cats/consumer/RecordSpec.scala
Due: Label shared PRs

Add more encoders, fix instant encoder
  feral/src/main/scala/kinesis4cats/consumer/feral/KinesisStreamEvent.scala
  feral/src/test/scala/kinesis4cats/consumer/feral/KinesisStreamRecordSpec.scala
Due: none

Add circe encoder for KinesisStreamRecord (#455)
  feral/src/main/scala/kinesis4cats/consumer/feral/KinesisStreamEvent.scala
  feral/src/test/scala/kinesis4cats/consumer/feral/KinesisStreamRecordSpec.scala
  shared-circe/src/main/scala/kinesis4cats/models/instances/circe.scala
Due: Label shared-circe PRs

Update amazon-kinesis-client to 2.7.0
  project/LibraryDependencies.scala
Due: none

Fix for Deaggregating non-aggregated values + KinesisStreamRecord circe encoder (#458)
  feral/src/main/scala/kinesis4cats/consumer/feral/KinesisStreamEvent.scala
  feral/src/test/scala/kinesis4cats/consumer/feral/KinesisStreamRecordSpec.scala
  shared-circe/src/main/scala/kinesis4cats/models/instances/circe.scala
  shared/src/main/scala/kinesis4cats/consumer/Record.scala
  shared/src/test/scala/kinesis4cats/consumer/RecordSpec.scala
Due: Label shared PRs, Label shared-circe PRs

Update amazon-kinesis-client to 2.7.0 (#459)
  project/LibraryDependencies.scala
Due: none

Update FS2, fix deprecations
  project/LibraryDependencies.scala
  shared/src/main/scala/kinesis4cats/Utils.scala
Due: Label shared PRs

Remove Epollcat
  build.sbt
  project/LibraryDependencies.scala
Due: none

Update KinesisClientNativeSpec.scala
  integration-tests/src/test/scalanative/kinesis4cats/smithy4s/client/KinesisClientNativeSpec.scala
Due: Label integration-tests PRs

Update LibraryDependencies.scala
  project/LibraryDependencies.scala
Due: none

Update Kinesis4CatsPlugin.scala
  project/Kinesis4CatsPlugin.scala
Due: none

deploy: 1f709becba610ad7da76c3603d94a245f2eadd77
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Raise when any records are invalid (#394)
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
Due: Label shared PRs

fix: Update warning message when retries are exhausted
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
Due: Label shared PRs

Update plugins.sbt
  project/plugins.sbt
Due: none

deploy: 51e2f2cfac523fa9cd90e83651459139b573700f
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

fix: Update warning message when retries are exhausted (#488)
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
Due: Label shared PRs

deploy: de52f542dc733ad16b01935abdf6b5bd5b4a7495
  client/circe.html
  client/getting-started.html
  client/localstack.html
  feral/getting-started.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Add config value
  docs/kcl/ciris.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/Shared.scala
Due: Label kcl-ciris PRs, Label kcl-localstack PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v1-localstack2_12 PRs: any of: ^.sbt/matrix/aws-v1-localstack2_12/
  Label aws-v1-localstack3 PRs: any of: ^.sbt/matrix/aws-v1-localstack3/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label aws-v2-localstack2_12 PRs: any of: ^.sbt/matrix/aws-v2-localstack2_12/
  Label aws-v2-localstack3 PRs: any of: ^.sbt/matrix/aws-v2-localstack3/
  Label compat PRs: any of: ^compat/
  Label compat2_12 PRs: any of: ^.sbt/matrix/compat2_12/
  Label compat3 PRs: any of: ^.sbt/matrix/compat3/
  Label compatJS PRs: any of: ^.sbt/matrix/compatJS/
  Label compatJS2_12 PRs: any of: ^.sbt/matrix/compatJS2_12/
  Label compatJS3 PRs: any of: ^.sbt/matrix/compatJS3/
  Label compatNative PRs: any of: ^.sbt/matrix/compatNative/
  Label compatNative2_12 PRs: any of: ^.sbt/matrix/compatNative2_12/
  Label compatNative3 PRs: any of: ^.sbt/matrix/compatNative3/
  Label docs PRs: any of: ^.sbt/matrix/docs/
  Label integration-tests PRs: any of: ^integration-tests/
  Label integration-tests3 PRs: any of: ^.sbt/matrix/integration-tests3/
  Label integration-testsJS PRs: any of: ^.sbt/matrix/integration-testsJS/
  Label integration-testsJS3 PRs: any of: ^.sbt/matrix/integration-testsJS3/
  Label integration-testsNative3 PRs: any of: ^.sbt/matrix/integration-testsNative3/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-ciris2_12 PRs: any of: ^.sbt/matrix/kcl-ciris2_12/
  Label kcl-ciris3 PRs: any of: ^.sbt/matrix/kcl-ciris3/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-http4s2_12 PRs: any of: ^.sbt/matrix/kcl-http4s2_12/
  Label kcl-http4s3 PRs: any of: ^.sbt/matrix/kcl-http4s3/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-localstack2_12 PRs: any of: ^.sbt/matrix/kcl-localstack2_12/
  Label kcl-localstack3 PRs: any of: ^.sbt/matrix/kcl-localstack3/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kcl-logging-circe2_12 PRs: any of: ^.sbt/matrix/kcl-logging-circe2_12/
  Label kcl-logging-circe3 PRs: any of: ^.sbt/matrix/kcl-logging-circe3/
  Label kcl2_12 PRs: any of: ^.sbt/matrix/kcl2_12/
  Label kcl3 PRs: any of: ^.sbt/matrix/kcl3/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-localstack2_12 PRs: any of: ^.sbt/matrix/kinesis-client-localstack2_12/
  Label kinesis-client-localstack3 PRs: any of: ^.sbt/matrix/kinesis-client-localstack3/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kinesis-client-logging-circe2_12 PRs: any of: ^.sbt/matrix/kinesis-client-logging-circe2_12/
  Label kinesis-client-logging-circe3 PRs: any of: ^.sbt/matrix/kinesis-client-logging-circe3/
  Label kinesis-client2_12 PRs: any of: ^.sbt/matrix/kinesis-client2_12/
  Label kinesis-client3 PRs: any of: ^.sbt/matrix/kinesis-client3/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-ciris2_12 PRs: any of: ^.sbt/matrix/kpl-ciris2_12/
  Label kpl-ciris3 PRs: any of: ^.sbt/matrix/kpl-ciris3/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-localstack2_12 PRs: any of: ^.sbt/matrix/kpl-localstack2_12/
  Label kpl-localstack3 PRs: any of: ^.sbt/matrix/kpl-localstack3/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label kpl-logging-circe2_12 PRs: any of: ^.sbt/matrix/kpl-logging-circe2_12/
  Label kpl-logging-circe3 PRs: any of: ^.sbt/matrix/kpl-logging-circe3/
  Label kpl2_12 PRs: any of: ^.sbt/matrix/kpl2_12/
  Label kpl3 PRs: any of: ^.sbt/matrix/kpl3/
  Label root-js-212 PRs: any of: ^root-js-212/
  Label root-js-213 PRs: any of: ^root-js-213/
  Label root-js-3 PRs: any of: ^root-js-3/
  Label root-jvm-212 PRs: any of: ^root-jvm-212/
  Label root-jvm-213 PRs: any of: ^root-jvm-213/
  Label root-jvm-3 PRs: any of: ^root-jvm-3/
  Label root-native-212 PRs: any of: ^root-native-212/
  Label root-native-213 PRs: any of: ^root-native-213/
  Label root-native-3 PRs: any of: ^root-native-3/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-circe2_12 PRs: any of: ^.sbt/matrix/shared-circe2_12/
  Label shared-circe3 PRs: any of: ^.sbt/matrix/shared-circe3/
  Label shared-circeJS PRs: any of: ^.sbt/matrix/shared-circeJS/
  Label shared-circeJS2_12 PRs: any of: ^.sbt/matrix/shared-circeJS2_12/
  Label shared-circeJS3 PRs: any of: ^.sbt/matrix/shared-circeJS3/
  Label shared-circeNative PRs: any of: ^.sbt/matrix/shared-circeNative/
  Label shared-circeNative2_12 PRs: any of: ^.sbt/matrix/shared-circeNative2_12/
  Label shared-circeNative3 PRs: any of: ^.sbt/matrix/shared-circeNative3/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-ciris2_12 PRs: any of: ^.sbt/matrix/shared-ciris2_12/
  Label shared-ciris3 PRs: any of: ^.sbt/matrix/shared-ciris3/
  Label shared-cirisJS PRs: any of: ^.sbt/matrix/shared-cirisJS/
  Label shared-cirisJS2_12 PRs: any of: ^.sbt/matrix/shared-cirisJS2_12/
  Label shared-cirisJS3 PRs: any of: ^.sbt/matrix/shared-cirisJS3/
  Label shared-cirisNative PRs: any of: ^.sbt/matrix/shared-cirisNative/
  Label shared-cirisNative3 PRs: any of: ^.sbt/matrix/shared-cirisNative3/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label shared-localstack2_12 PRs: any of: ^.sbt/matrix/shared-localstack2_12/
  Label shared-localstack3 PRs: any of: ^.sbt/matrix/shared-localstack3/
  Label shared-localstackJS PRs: any of: ^.sbt/matrix/shared-localstackJS/
  Label shared-localstackJS2_12 PRs: any of: ^.sbt/matrix/shared-localstackJS2_12/
  Label shared-localstackJS3 PRs: any of: ^.sbt/matrix/shared-localstackJS3/
  Label shared-localstackNative PRs: any of: ^.sbt/matrix/shared-localstackNative/
  Label shared-localstackNative3 PRs: any of: ^.sbt/matrix/shared-localstackNative3/
  Label shared2_12 PRs: any of: ^.sbt/matrix/shared2_12/
  Label shared3 PRs: any of: ^.sbt/matrix/shared3/
  Label sharedJS PRs: any of: ^.sbt/matrix/sharedJS/
  Label sharedJS2_12 PRs: any of: ^.sbt/matrix/sharedJS2_12/
  Label sharedJS3 PRs: any of: ^.sbt/matrix/sharedJS3/
  Label sharedNative PRs: any of: ^.sbt/matrix/sharedNative/
  Label sharedNative2_12 PRs: any of: ^.sbt/matrix/sharedNative2_12/
  Label sharedNative3 PRs: any of: ^.sbt/matrix/sharedNative3/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-localstack3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstack3/
  Label smithy4s-client-localstackJS PRs: any of: ^.sbt/matrix/smithy4s-client-localstackJS/
  Label smithy4s-client-localstackJS3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstackJS3/
  Label smithy4s-client-localstackNative3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstackNative3/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-logging-circe3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circe3/
  Label smithy4s-client-logging-circeJS PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeJS/
  Label smithy4s-client-logging-circeJS3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeJS3/
  Label smithy4s-client-logging-circeNative3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeNative3/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label smithy4s-client-transformers2_12 PRs: any of: ^.sbt/matrix/smithy4s-client-transformers2_12/
  Label smithy4s-client3 PRs: any of: ^.sbt/matrix/smithy4s-client3/
  Label smithy4s-clientJS PRs: any of: ^.sbt/matrix/smithy4s-clientJS/
  Label smithy4s-clientJS3 PRs: any of: ^.sbt/matrix/smithy4s-clientJS3/
  Label smithy4s-clientNative3 PRs: any of: ^.sbt/matrix/smithy4s-clientNative3/
  Label unidocs PRs: any of: ^unidocs/
