Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v1-localstack2_12 PRs, Label aws-v1-localstack3 PRs, Label aws-v2-localstack PRs, Label aws-v2-localstack2_12 PRs, Label aws-v2-localstack3 PRs, Label compat PRs, Label compat2_12 PRs, Label compat3 PRs, Label compatJS PRs, Label compatJS2_12 PRs, Label compatJS3 PRs, Label compatNative PRs, Label compatNative2_12 PRs, Label compatNative3 PRs, Label docs PRs, Label integration-tests PRs, Label integration-tests3 PRs, Label integration-testsJS PRs, Label integration-testsJS3 PRs, Label integration-testsNative3 PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-ciris2_12 PRs, Label kcl-ciris3 PRs, Label kcl-http4s PRs, Label kcl-http4s2_12 PRs, Label kcl-http4s3 PRs, Label kcl-localstack PRs, Label kcl-localstack2_12 PRs, Label kcl-localstack3 PRs, Label kcl-logging-circe PRs, Label kcl-logging-circe2_12 PRs, Label kcl-logging-circe3 PRs, Label kcl2_12 PRs, Label kcl3 PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-localstack2_12 PRs, Label kinesis-client-localstack3 PRs, Label kinesis-client-logging-circe PRs, Label kinesis-client-logging-circe2_12 PRs, Label kinesis-client-logging-circe3 PRs, Label kinesis-client2_12 PRs, Label kinesis-client3 PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-ciris2_12 PRs, Label kpl-ciris3 PRs, Label kpl-localstack PRs, Label kpl-localstack2_12 PRs, Label kpl-localstack3 PRs, Label kpl-logging-circe PRs, Label kpl-logging-circe2_12 PRs, Label kpl-logging-circe3 PRs, Label kpl2_12 PRs, Label kpl3 PRs, Label root-js-212 PRs, Label root-js-213 PRs, Label root-js-3 PRs, Label root-jvm-212 PRs, Label root-jvm-213 PRs, Label root-jvm-3 PRs, Label root-native-212 PRs, Label root-native-213 PRs, Label root-native-3 PRs, Label shared PRs, Label shared-circe PRs, Label shared-circe2_12 PRs, Label shared-circe3 PRs, Label shared-circeJS PRs, Label shared-circeJS2_12 PRs, Label shared-circeJS3 PRs, Label shared-circeNative PRs, Label shared-circeNative2_12 PRs, Label shared-circeNative3 PRs, Label shared-ciris PRs, Label shared-ciris2_12 PRs, Label shared-ciris3 PRs, Label shared-cirisJS PRs, Label shared-cirisJS2_12 PRs, Label shared-cirisJS3 PRs, Label shared-cirisNative PRs, Label shared-cirisNative3 PRs, Label shared-localstack PRs, Label shared-localstack2_12 PRs, Label shared-localstack3 PRs, Label shared-localstackJS PRs, Label shared-localstackJS2_12 PRs, Label shared-localstackJS3 PRs, Label shared-localstackNative PRs, Label shared-localstackNative3 PRs, Label shared2_12 PRs, Label shared3 PRs, Label sharedJS PRs, Label sharedJS2_12 PRs, Label sharedJS3 PRs, Label sharedNative PRs, Label sharedNative2_12 PRs, Label sharedNative3 PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-localstack3 PRs, Label smithy4s-client-localstackJS PRs, Label smithy4s-client-localstackJS3 PRs, Label smithy4s-client-localstackNative3 PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-logging-circe3 PRs, Label smithy4s-client-logging-circeJS PRs, Label smithy4s-client-logging-circeJS3 PRs, Label smithy4s-client-logging-circeNative3 PRs, Label smithy4s-client-transformers PRs, Label smithy4s-client-transformers2_12 PRs, Label smithy4s-client3 PRs, Label smithy4s-clientJS PRs, Label smithy4s-clientJS3 PRs, Label smithy4s-clientNative3 PRs, Label unidocs PRs

Label aws-v1-localstack PRs:
  label:
    add:
    - aws-v1-localstack
    remove: []

Label aws-v1-localstack2_12 PRs:
  label:
    add:
    - aws-v1-localstack2_12
    remove: []

Label aws-v1-localstack3 PRs:
  label:
    add:
    - aws-v1-localstack3
    remove: []

Label aws-v2-localstack PRs:
  label:
    add:
    - aws-v2-localstack
    remove: []

Label aws-v2-localstack2_12 PRs:
  label:
    add:
    - aws-v2-localstack2_12
    remove: []

Label aws-v2-localstack3 PRs:
  label:
    add:
    - aws-v2-localstack3
    remove: []

Label compat PRs:
  label:
    add:
    - compat
    remove: []

Label compat2_12 PRs:
  label:
    add:
    - compat2_12
    remove: []

Label compat3 PRs:
  label:
    add:
    - compat3
    remove: []

Label compatJS PRs:
  label:
    add:
    - compatJS
    remove: []

Label compatJS2_12 PRs:
  label:
    add:
    - compatJS2_12
    remove: []

Label compatJS3 PRs:
  label:
    add:
    - compatJS3
    remove: []

Label compatNative PRs:
  label:
    add:
    - compatNative
    remove: []

Label compatNative2_12 PRs:
  label:
    add:
    - compatNative2_12
    remove: []

Label compatNative3 PRs:
  label:
    add:
    - compatNative3
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label integration-tests PRs:
  label:
    add:
    - integration-tests
    remove: []

Label integration-tests3 PRs:
  label:
    add:
    - integration-tests3
    remove: []

Label integration-testsJS PRs:
  label:
    add:
    - integration-testsJS
    remove: []

Label integration-testsJS3 PRs:
  label:
    add:
    - integration-testsJS3
    remove: []

Label integration-testsNative3 PRs:
  label:
    add:
    - integration-testsNative3
    remove: []

Label kcl PRs:
  label:
    add:
    - kcl
    remove: []

Label kcl-ciris PRs:
  label:
    add:
    - kcl-ciris
    remove: []

Label kcl-ciris2_12 PRs:
  label:
    add:
    - kcl-ciris2_12
    remove: []

Label kcl-ciris3 PRs:
  label:
    add:
    - kcl-ciris3
    remove: []

Label kcl-http4s PRs:
  label:
    add:
    - kcl-http4s
    remove: []

Label kcl-http4s2_12 PRs:
  label:
    add:
    - kcl-http4s2_12
    remove: []

Label kcl-http4s3 PRs:
  label:
    add:
    - kcl-http4s3
    remove: []

Label kcl-localstack PRs:
  label:
    add:
    - kcl-localstack
    remove: []

Label kcl-localstack2_12 PRs:
  label:
    add:
    - kcl-localstack2_12
    remove: []

Label kcl-localstack3 PRs:
  label:
    add:
    - kcl-localstack3
    remove: []

Label kcl-logging-circe PRs:
  label:
    add:
    - kcl-logging-circe
    remove: []

Label kcl-logging-circe2_12 PRs:
  label:
    add:
    - kcl-logging-circe2_12
    remove: []

Label kcl-logging-circe3 PRs:
  label:
    add:
    - kcl-logging-circe3
    remove: []

Label kcl2_12 PRs:
  label:
    add:
    - kcl2_12
    remove: []

Label kcl3 PRs:
  label:
    add:
    - kcl3
    remove: []

Label kinesis-client PRs:
  label:
    add:
    - kinesis-client
    remove: []

Label kinesis-client-localstack PRs:
  label:
    add:
    - kinesis-client-localstack
    remove: []

feat(kinesis-client): add withMeterProvider to KinesisProducer.Builder
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
Due: Label kinesis-client PRs

chore(producer): formatting + fixups for otel4s S1 instrumentation
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/ProducerInstruments.scala
Due: Label kinesis-client PRs, Label shared PRs

refactor(producer): record request duration as FiniteDuration
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/ProducerInstruments.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/ProducerInstrumentsSpec.scala
Due: Label shared PRs

Configurable namespace, other cleanup
  .gitignore
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  project/LibraryDependencies.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/ProducerInstruments.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/ProducerInstrumentsSpec.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/ProducerMetricsSpec.scala
Due: Label kinesis-client PRs, Label shared PRs

refactor(producer): separate OTel scope name from metric prefix
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/ProducerInstruments.scala
Due: Label kinesis-client PRs, Label shared PRs

test(producer): pin default namespace and instrumentation scope
  shared/src/test/scala/kinesis4cats/producer/metrics/ProducerInstrumentsSpec.scala
Due: Label shared PRs

refactor(producer): extract shared MetricAttributes helper
  shared/src/main/scala/kinesis4cats/producer/metrics/MetricAttributes.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/ProducerInstruments.scala
Due: Label shared PRs

feat(producer): add FS2ProducerInstruments buffer metrics bundle
  shared/src/main/scala/kinesis4cats/producer/metrics/FS2ProducerInstruments.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/FS2ProducerInstrumentsSpec.scala
Due: Label shared PRs

feat(producer): record FS2 buffer metrics on the buffering path
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/FS2ProducerMetricsSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

feat(kinesis-client): add withMeterProvider to FS2KinesisProducer.Builder
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kinesis-client PRs

chore(producer): formatting + test privacy fixups for FS2 metrics (S2)
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/FS2ProducerInstruments.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/FS2ProducerMetricsSpec.scala
Due: Label shared PRs

refactor(producer): rename Instruments -> Metrics
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/FS2ProducerMetrics.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/MetricAttributes.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/ProducerMetrics.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/FS2ProducerMetricsBundleSpec.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/FS2ProducerMetricsSpec.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/ProducerMetricsBundleSpec.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/ProducerMetricsSpec.scala
Due: Label kinesis-client PRs, Label shared PRs

refactor(kinesis-client): rename builder withMeterProvider -> withMetrics
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kinesis-client PRs

feat(smithy4s-client): add withMetrics to KinesisProducer.Builder
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
Due: Label smithy4s-client PRs

feat(smithy4s-client): add withMetrics to FS2KinesisProducer.Builder
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label smithy4s-client PRs

feat(kinesis-client-localstack): add withMetrics to LocalstackFS2KinesisProducer.Builder
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
Due: Label kinesis-client-localstack PRs

feat(smithy4s-client-localstack): add withMetrics to LocalstackFS2KinesisProducer.Builder
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
Due: Label smithy4s-client-localstack PRs

fmt
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label smithy4s-client PRs

Update Munit dependencies to specific versions
  project/LibraryDependencies.scala
Due: none

Add Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

build: scaffold kinesis-client-opentelemetry and smithy4s-client-opentelemetry modules
  build.sbt
  project/LibraryDependencies.scala
Due: none

feat: add CloudWatchMeterProvider to kinesis-client-opentelemetry
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/CloudWatchMeterProvider.scala
  kinesis-client-opentelemetry/src/test/scala/kinesis4cats/client/producer/opentelemetry/CloudWatchMeterProviderSpec.scala
Due: none

feat: add buildWithCloudWatch syntax to kinesis-client-opentelemetry
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/CloudWatchMeterProvider.scala
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/syntax/cloudwatch.scala
  kinesis-client-opentelemetry/src/test/scala/kinesis4cats/client/producer/opentelemetry/syntax/CloudWatchSyntaxSpec.scala
Due: none

feat: add CloudWatchMeterProvider to smithy4s-client-opentelemetry
  smithy4s-client-opentelemetry/src/main/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/CloudWatchMeterProvider.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/CloudWatchMeterProviderSpec.scala
Due: none

feat: add buildWithCloudWatch syntax to smithy4s-client-opentelemetry
  smithy4s-client-opentelemetry/src/main/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/CloudWatchMeterProvider.scala
  smithy4s-client-opentelemetry/src/main/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/syntax/cloudwatch.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/CloudWatchMeterProviderSpec.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/syntax/CloudWatchSyntaxSpec.scala
Due: none

refactor: sign CloudWatch OTLP via non-deprecated AwsV4HttpSigner
  build.sbt
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/CloudWatchMeterProvider.scala
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/syntax/cloudwatch.scala
  kinesis-client-opentelemetry/src/test/scala/kinesis4cats/client/producer/opentelemetry/syntax/CloudWatchSyntaxSpec.scala
  project/LibraryDependencies.scala
Due: none

docs: document opentelemetry modules in AGENTS.md and regenerate CI
  .github/workflows/ci.yml
  .mergify.yml
  AGENTS.md
  smithy4s-client-opentelemetry/src/main/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/syntax/cloudwatch.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/CloudWatchMeterProviderSpec.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/syntax/CloudWatchSyntaxSpec.scala
Due: none

test: drop no-op opentelemetry specs; tidy docs and imports
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/CloudWatchMeterProvider.scala
  kinesis-client-opentelemetry/src/test/scala/kinesis4cats/client/producer/opentelemetry/CloudWatchMeterProviderSpec.scala
  kinesis-client-opentelemetry/src/test/scala/kinesis4cats/client/producer/opentelemetry/syntax/CloudWatchSyntaxSpec.scala
  smithy4s-client-opentelemetry/src/main/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/CloudWatchMeterProvider.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/CloudWatchMeterProviderSpec.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/syntax/CloudWatchSyntaxSpec.scala
Due: none

build: generate smithy4s CloudWatch client alongside Kinesis
  build.sbt
  project/LibraryDependencies.scala
  smithy4s-client-transformers/src/main/resources/META-INF/services/software.amazon.smithy.build.ProjectionTransformer
  smithy4s-client-transformers/src/main/scala/kinesis4cats/smithy4s/client/CloudWatchSpecTransformer.scala
  smithy4s-client/src/main/smithy/metadata.smithy
Due: Label smithy4s-client PRs, Label smithy4s-client-transformers PRs

feat: add neutral CloudWatchDatum + conventions to shared
  shared/src/main/scala/kinesis4cats/producer/metrics/cloudwatch/CloudWatchBackend.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/cloudwatch/CloudWatchConventions.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/cloudwatch/CloudWatchDatum.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/cloudwatch/PutMetricDataSink.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/cloudwatch/CloudWatchConventionsSpec.scala
Due: Label shared PRs

feat: add smithy4s CloudWatch PutMetricDataSink
  smithy4s-client-transformers/src/main/scala/kinesis4cats/smithy4s/client/CloudWatchSpecTransformer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/CloudWatchClient.scala
  smithy4s-client/src/test/scala/kinesis4cats/smithy4s/client/CloudWatchClientSpec.scala
Due: Label smithy4s-client PRs, Label smithy4s-client-transformers PRs

feat: add JVM MetricData -> CloudWatchDatum translation
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/JvmMetricTranslation.scala
  kinesis-client-opentelemetry/src/test/scala/kinesis4cats/client/producer/opentelemetry/JvmMetricTranslationSpec.scala
Due: none

feat: add PutMetricData backend to kinesis-client-opentelemetry
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/JvmMetricTranslation.scala
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataExporter.scala
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataMeterProvider.scala
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/syntax/cloudwatch.scala
  kinesis-client-opentelemetry/src/test/scala/kinesis4cats/client/producer/opentelemetry/JvmMetricTranslationSpec.scala
  kinesis-client-opentelemetry/src/test/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataMeterProviderSpec.scala
Due: none

feat: add PutMetricData backend to smithy4s-client-opentelemetry
  smithy4s-client-opentelemetry/src/main/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/PutMetricDataMeterProvider.scala
  smithy4s-client-opentelemetry/src/main/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/SdkMetricTranslation.scala
  smithy4s-client-opentelemetry/src/main/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/syntax/cloudwatch.scala
  smithy4s-client-opentelemetry/src/main/scala/org/typelevel/otel4s/sdk/exporter/cloudwatch/PutMetricDataExporter.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/SdkMetricTranslationSpec.scala
Due: none

test: add localstack PutMetricData integration tests
  build.sbt
  kinesis-client-localstack/src/test/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataCloudWatchSpec.scala
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataExporter.scala
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataMeterProvider.scala
  smithy4s-client-localstack/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/opentelemetry/PutMetricDataCloudWatchSpec.scala
Due: Label kinesis-client-localstack PRs, Label smithy4s-client-localstack PRs

docs: document PutMetricData backend + CloudWatch codegen in AGENTS.md; apply pretty
  AGENTS.md
  kinesis-client-localstack/src/test/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataCloudWatchSpec.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/cloudwatch/CloudWatchConventions.scala
  shared/src/main/scala/kinesis4cats/producer/metrics/cloudwatch/CloudWatchDatum.scala
  shared/src/test/scala/kinesis4cats/producer/metrics/cloudwatch/CloudWatchConventionsSpec.scala
  smithy4s-client-localstack/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/opentelemetry/PutMetricDataCloudWatchSpec.scala
  smithy4s-client-opentelemetry/src/main/scala/org/typelevel/otel4s/sdk/exporter/cloudwatch/PutMetricDataExporter.scala
  smithy4s-client-opentelemetry/src/test/scala/kinesis4cats/smithy4s/client/producer/opentelemetry/SdkMetricTranslationSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/CloudWatchClient.scala
  smithy4s-client/src/test/scala/kinesis4cats/smithy4s/client/CloudWatchClientSpec.scala
Due: Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

build: enable CommonJSModule for smithy4s signing tests on JS
  build.sbt
Due: none

fix: use fromClientResource for localstack CloudWatch export tests
  kinesis-client-localstack/src/test/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataCloudWatchSpec.scala
  kinesis-client-opentelemetry/src/main/scala/kinesis4cats/client/producer/opentelemetry/PutMetricDataMeterProvider.scala
  smithy4s-client-localstack/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/opentelemetry/PutMetricDataCloudWatchSpec.scala
Due: Label kinesis-client-localstack PRs, Label smithy4s-client-localstack PRs

style: scalafmt build.sbt
  build.sbt
Due: none

docs: document producer OpenTelemetry metrics + CloudWatch export
  build.sbt
  docs/client/directory.conf
  docs/client/metrics.md
  docs/smithy4s/directory.conf
  docs/smithy4s/metrics.md
Due: none

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v1-localstack2_12 PRs: any of: ^.sbt/matrix/aws-v1-localstack2_12/
  Label aws-v1-localstack3 PRs: any of: ^.sbt/matrix/aws-v1-localstack3/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label aws-v2-localstack2_12 PRs: any of: ^.sbt/matrix/aws-v2-localstack2_12/
  Label aws-v2-localstack3 PRs: any of: ^.sbt/matrix/aws-v2-localstack3/
  Label compat PRs: any of: ^compat/
  Label compat2_12 PRs: any of: ^.sbt/matrix/compat2_12/
  Label compat3 PRs: any of: ^.sbt/matrix/compat3/
  Label compatJS PRs: any of: ^.sbt/matrix/compatJS/
  Label compatJS2_12 PRs: any of: ^.sbt/matrix/compatJS2_12/
  Label compatJS3 PRs: any of: ^.sbt/matrix/compatJS3/
  Label compatNative PRs: any of: ^.sbt/matrix/compatNative/
  Label compatNative2_12 PRs: any of: ^.sbt/matrix/compatNative2_12/
  Label compatNative3 PRs: any of: ^.sbt/matrix/compatNative3/
  Label docs PRs: any of: ^.sbt/matrix/docs/
  Label integration-tests PRs: any of: ^integration-tests/
  Label integration-tests3 PRs: any of: ^.sbt/matrix/integration-tests3/
  Label integration-testsJS PRs: any of: ^.sbt/matrix/integration-testsJS/
  Label integration-testsJS3 PRs: any of: ^.sbt/matrix/integration-testsJS3/
  Label integration-testsNative3 PRs: any of: ^.sbt/matrix/integration-testsNative3/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-ciris2_12 PRs: any of: ^.sbt/matrix/kcl-ciris2_12/
  Label kcl-ciris3 PRs: any of: ^.sbt/matrix/kcl-ciris3/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-http4s2_12 PRs: any of: ^.sbt/matrix/kcl-http4s2_12/
  Label kcl-http4s3 PRs: any of: ^.sbt/matrix/kcl-http4s3/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-localstack2_12 PRs: any of: ^.sbt/matrix/kcl-localstack2_12/
  Label kcl-localstack3 PRs: any of: ^.sbt/matrix/kcl-localstack3/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kcl-logging-circe2_12 PRs: any of: ^.sbt/matrix/kcl-logging-circe2_12/
  Label kcl-logging-circe3 PRs: any of: ^.sbt/matrix/kcl-logging-circe3/
  Label kcl2_12 PRs: any of: ^.sbt/matrix/kcl2_12/
  Label kcl3 PRs: any of: ^.sbt/matrix/kcl3/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-localstack2_12 PRs: any of: ^.sbt/matrix/kinesis-client-localstack2_12/
  Label kinesis-client-localstack3 PRs: any of: ^.sbt/matrix/kinesis-client-localstack3/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kinesis-client-logging-circe2_12 PRs: any of: ^.sbt/matrix/kinesis-client-logging-circe2_12/
  Label kinesis-client-logging-circe3 PRs: any of: ^.sbt/matrix/kinesis-client-logging-circe3/
  Label kinesis-client2_12 PRs: any of: ^.sbt/matrix/kinesis-client2_12/
  Label kinesis-client3 PRs: any of: ^.sbt/matrix/kinesis-client3/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-ciris2_12 PRs: any of: ^.sbt/matrix/kpl-ciris2_12/
  Label kpl-ciris3 PRs: any of: ^.sbt/matrix/kpl-ciris3/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-localstack2_12 PRs: any of: ^.sbt/matrix/kpl-localstack2_12/
  Label kpl-localstack3 PRs: any of: ^.sbt/matrix/kpl-localstack3/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label kpl-logging-circe2_12 PRs: any of: ^.sbt/matrix/kpl-logging-circe2_12/
  Label kpl-logging-circe3 PRs: any of: ^.sbt/matrix/kpl-logging-circe3/
  Label kpl2_12 PRs: any of: ^.sbt/matrix/kpl2_12/
  Label kpl3 PRs: any of: ^.sbt/matrix/kpl3/
  Label root-js-212 PRs: any of: ^root-js-212/
  Label root-js-213 PRs: any of: ^root-js-213/
  Label root-js-3 PRs: any of: ^root-js-3/
  Label root-jvm-212 PRs: any of: ^root-jvm-212/
  Label root-jvm-213 PRs: any of: ^root-jvm-213/
  Label root-jvm-3 PRs: any of: ^root-jvm-3/
  Label root-native-212 PRs: any of: ^root-native-212/
  Label root-native-213 PRs: any of: ^root-native-213/
  Label root-native-3 PRs: any of: ^root-native-3/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-circe2_12 PRs: any of: ^.sbt/matrix/shared-circe2_12/
  Label shared-circe3 PRs: any of: ^.sbt/matrix/shared-circe3/
  Label shared-circeJS PRs: any of: ^.sbt/matrix/shared-circeJS/
  Label shared-circeJS2_12 PRs: any of: ^.sbt/matrix/shared-circeJS2_12/
  Label shared-circeJS3 PRs: any of: ^.sbt/matrix/shared-circeJS3/
  Label shared-circeNative PRs: any of: ^.sbt/matrix/shared-circeNative/
  Label shared-circeNative2_12 PRs: any of: ^.sbt/matrix/shared-circeNative2_12/
  Label shared-circeNative3 PRs: any of: ^.sbt/matrix/shared-circeNative3/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-ciris2_12 PRs: any of: ^.sbt/matrix/shared-ciris2_12/
  Label shared-ciris3 PRs: any of: ^.sbt/matrix/shared-ciris3/
  Label shared-cirisJS PRs: any of: ^.sbt/matrix/shared-cirisJS/
  Label shared-cirisJS2_12 PRs: any of: ^.sbt/matrix/shared-cirisJS2_12/
  Label shared-cirisJS3 PRs: any of: ^.sbt/matrix/shared-cirisJS3/
  Label shared-cirisNative PRs: any of: ^.sbt/matrix/shared-cirisNative/
  Label shared-cirisNative3 PRs: any of: ^.sbt/matrix/shared-cirisNative3/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label shared-localstack2_12 PRs: any of: ^.sbt/matrix/shared-localstack2_12/
  Label shared-localstack3 PRs: any of: ^.sbt/matrix/shared-localstack3/
  Label shared-localstackJS PRs: any of: ^.sbt/matrix/shared-localstackJS/
  Label shared-localstackJS2_12 PRs: any of: ^.sbt/matrix/shared-localstackJS2_12/
  Label shared-localstackJS3 PRs: any of: ^.sbt/matrix/shared-localstackJS3/
  Label shared-localstackNative PRs: any of: ^.sbt/matrix/shared-localstackNative/
  Label shared-localstackNative3 PRs: any of: ^.sbt/matrix/shared-localstackNative3/
  Label shared2_12 PRs: any of: ^.sbt/matrix/shared2_12/
  Label shared3 PRs: any of: ^.sbt/matrix/shared3/
  Label sharedJS PRs: any of: ^.sbt/matrix/sharedJS/
  Label sharedJS2_12 PRs: any of: ^.sbt/matrix/sharedJS2_12/
  Label sharedJS3 PRs: any of: ^.sbt/matrix/sharedJS3/
  Label sharedNative PRs: any of: ^.sbt/matrix/sharedNative/
  Label sharedNative2_12 PRs: any of: ^.sbt/matrix/sharedNative2_12/
  Label sharedNative3 PRs: any of: ^.sbt/matrix/sharedNative3/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-localstack3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstack3/
  Label smithy4s-client-localstackJS PRs: any of: ^.sbt/matrix/smithy4s-client-localstackJS/
  Label smithy4s-client-localstackJS3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstackJS3/
  Label smithy4s-client-localstackNative3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstackNative3/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-logging-circe3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circe3/
  Label smithy4s-client-logging-circeJS PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeJS/
  Label smithy4s-client-logging-circeJS3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeJS3/
  Label smithy4s-client-logging-circeNative3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeNative3/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label smithy4s-client-transformers2_12 PRs: any of: ^.sbt/matrix/smithy4s-client-transformers2_12/
  Label smithy4s-client3 PRs: any of: ^.sbt/matrix/smithy4s-client3/
  Label smithy4s-clientJS PRs: any of: ^.sbt/matrix/smithy4s-clientJS/
  Label smithy4s-clientJS3 PRs: any of: ^.sbt/matrix/smithy4s-clientJS3/
  Label smithy4s-clientNative3 PRs: any of: ^.sbt/matrix/smithy4s-clientNative3/
  Label unidocs PRs: any of: ^unidocs/
