Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v1-localstack2_12 PRs, Label aws-v1-localstack3 PRs, Label aws-v2-localstack PRs, Label aws-v2-localstack2_12 PRs, Label aws-v2-localstack3 PRs, Label compat PRs, Label compat2_12 PRs, Label compat3 PRs, Label compatJS PRs, Label compatJS2_12 PRs, Label compatJS3 PRs, Label compatNative PRs, Label compatNative2_12 PRs, Label compatNative3 PRs, Label docs PRs, Label integration-tests PRs, Label integration-tests3 PRs, Label integration-testsJS PRs, Label integration-testsJS3 PRs, Label integration-testsNative3 PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-ciris2_12 PRs, Label kcl-ciris3 PRs, Label kcl-http4s PRs, Label kcl-http4s2_12 PRs, Label kcl-http4s3 PRs, Label kcl-localstack PRs, Label kcl-localstack2_12 PRs, Label kcl-localstack3 PRs, Label kcl-logging-circe PRs, Label kcl-logging-circe2_12 PRs, Label kcl-logging-circe3 PRs, Label kcl2_12 PRs, Label kcl3 PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-localstack2_12 PRs, Label kinesis-client-localstack3 PRs, Label kinesis-client-logging-circe PRs, Label kinesis-client-logging-circe2_12 PRs, Label kinesis-client-logging-circe3 PRs, Label kinesis-client2_12 PRs, Label kinesis-client3 PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-ciris2_12 PRs, Label kpl-ciris3 PRs, Label kpl-localstack PRs, Label kpl-localstack2_12 PRs, Label kpl-localstack3 PRs, Label kpl-logging-circe PRs, Label kpl-logging-circe2_12 PRs, Label kpl-logging-circe3 PRs, Label kpl2_12 PRs, Label kpl3 PRs, Label root-js-212 PRs, Label root-js-213 PRs, Label root-js-3 PRs, Label root-jvm-212 PRs, Label root-jvm-213 PRs, Label root-jvm-3 PRs, Label root-native-212 PRs, Label root-native-213 PRs, Label root-native-3 PRs, Label shared PRs, Label shared-circe PRs, Label shared-circe2_12 PRs, Label shared-circe3 PRs, Label shared-circeJS PRs, Label shared-circeJS2_12 PRs, Label shared-circeJS3 PRs, Label shared-circeNative PRs, Label shared-circeNative2_12 PRs, Label shared-circeNative3 PRs, Label shared-ciris PRs, Label shared-ciris2_12 PRs, Label shared-ciris3 PRs, Label shared-cirisJS PRs, Label shared-cirisJS2_12 PRs, Label shared-cirisJS3 PRs, Label shared-cirisNative PRs, Label shared-cirisNative3 PRs, Label shared-localstack PRs, Label shared-localstack2_12 PRs, Label shared-localstack3 PRs, Label shared-localstackJS PRs, Label shared-localstackJS2_12 PRs, Label shared-localstackJS3 PRs, Label shared-localstackNative PRs, Label shared-localstackNative3 PRs, Label shared2_12 PRs, Label shared3 PRs, Label sharedJS PRs, Label sharedJS2_12 PRs, Label sharedJS3 PRs, Label sharedNative PRs, Label sharedNative2_12 PRs, Label sharedNative3 PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-localstack3 PRs, Label smithy4s-client-localstackJS PRs, Label smithy4s-client-localstackJS3 PRs, Label smithy4s-client-localstackNative3 PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-logging-circe3 PRs, Label smithy4s-client-logging-circeJS PRs, Label smithy4s-client-logging-circeJS3 PRs, Label smithy4s-client-logging-circeNative3 PRs, Label smithy4s-client-transformers PRs, Label smithy4s-client-transformers2_12 PRs, Label smithy4s-client3 PRs, Label smithy4s-clientJS PRs, Label smithy4s-clientJS3 PRs, Label smithy4s-clientNative3 PRs, Label unidocs PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v1-localstack2_12 PRs: any of: ^.sbt/matrix/aws-v1-localstack2_12/
  Label aws-v1-localstack3 PRs: any of: ^.sbt/matrix/aws-v1-localstack3/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label aws-v2-localstack2_12 PRs: any of: ^.sbt/matrix/aws-v2-localstack2_12/
  Label aws-v2-localstack3 PRs: any of: ^.sbt/matrix/aws-v2-localstack3/
  Label compat PRs: any of: ^compat/
  Label compat2_12 PRs: any of: ^.sbt/matrix/compat2_12/
  Label compat3 PRs: any of: ^.sbt/matrix/compat3/
  Label compatJS PRs: any of: ^.sbt/matrix/compatJS/
  Label compatJS2_12 PRs: any of: ^.sbt/matrix/compatJS2_12/
  Label compatJS3 PRs: any of: ^.sbt/matrix/compatJS3/
  Label compatNative PRs: any of: ^.sbt/matrix/compatNative/
  Label compatNative2_12 PRs: any of: ^.sbt/matrix/compatNative2_12/
  Label compatNative3 PRs: any of: ^.sbt/matrix/compatNative3/
  Label docs PRs: any of: ^.sbt/matrix/docs/
  Label integration-tests PRs: any of: ^integration-tests/
  Label integration-tests3 PRs: any of: ^.sbt/matrix/integration-tests3/
  Label integration-testsJS PRs: any of: ^.sbt/matrix/integration-testsJS/
  Label integration-testsJS3 PRs: any of: ^.sbt/matrix/integration-testsJS3/
  Label integration-testsNative3 PRs: any of: ^.sbt/matrix/integration-testsNative3/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-ciris2_12 PRs: any of: ^.sbt/matrix/kcl-ciris2_12/
  Label kcl-ciris3 PRs: any of: ^.sbt/matrix/kcl-ciris3/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-http4s2_12 PRs: any of: ^.sbt/matrix/kcl-http4s2_12/
  Label kcl-http4s3 PRs: any of: ^.sbt/matrix/kcl-http4s3/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-localstack2_12 PRs: any of: ^.sbt/matrix/kcl-localstack2_12/
  Label kcl-localstack3 PRs: any of: ^.sbt/matrix/kcl-localstack3/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kcl-logging-circe2_12 PRs: any of: ^.sbt/matrix/kcl-logging-circe2_12/
  Label kcl-logging-circe3 PRs: any of: ^.sbt/matrix/kcl-logging-circe3/
  Label kcl2_12 PRs: any of: ^.sbt/matrix/kcl2_12/
  Label kcl3 PRs: any of: ^.sbt/matrix/kcl3/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-localstack2_12 PRs: any of: ^.sbt/matrix/kinesis-client-localstack2_12/
  Label kinesis-client-localstack3 PRs: any of: ^.sbt/matrix/kinesis-client-localstack3/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kinesis-client-logging-circe2_12 PRs: any of: ^.sbt/matrix/kinesis-client-logging-circe2_12/
  Label kinesis-client-logging-circe3 PRs: any of: ^.sbt/matrix/kinesis-client-logging-circe3/
  Label kinesis-client2_12 PRs: any of: ^.sbt/matrix/kinesis-client2_12/
  Label kinesis-client3 PRs: any of: ^.sbt/matrix/kinesis-client3/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-ciris2_12 PRs: any of: ^.sbt/matrix/kpl-ciris2_12/
  Label kpl-ciris3 PRs: any of: ^.sbt/matrix/kpl-ciris3/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-localstack2_12 PRs: any of: ^.sbt/matrix/kpl-localstack2_12/
  Label kpl-localstack3 PRs: any of: ^.sbt/matrix/kpl-localstack3/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label kpl-logging-circe2_12 PRs: any of: ^.sbt/matrix/kpl-logging-circe2_12/
  Label kpl-logging-circe3 PRs: any of: ^.sbt/matrix/kpl-logging-circe3/
  Label kpl2_12 PRs: any of: ^.sbt/matrix/kpl2_12/
  Label kpl3 PRs: any of: ^.sbt/matrix/kpl3/
  Label root-js-212 PRs: any of: ^root-js-212/
  Label root-js-213 PRs: any of: ^root-js-213/
  Label root-js-3 PRs: any of: ^root-js-3/
  Label root-jvm-212 PRs: any of: ^root-jvm-212/
  Label root-jvm-213 PRs: any of: ^root-jvm-213/
  Label root-jvm-3 PRs: any of: ^root-jvm-3/
  Label root-native-212 PRs: any of: ^root-native-212/
  Label root-native-213 PRs: any of: ^root-native-213/
  Label root-native-3 PRs: any of: ^root-native-3/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-circe2_12 PRs: any of: ^.sbt/matrix/shared-circe2_12/
  Label shared-circe3 PRs: any of: ^.sbt/matrix/shared-circe3/
  Label shared-circeJS PRs: any of: ^.sbt/matrix/shared-circeJS/
  Label shared-circeJS2_12 PRs: any of: ^.sbt/matrix/shared-circeJS2_12/
  Label shared-circeJS3 PRs: any of: ^.sbt/matrix/shared-circeJS3/
  Label shared-circeNative PRs: any of: ^.sbt/matrix/shared-circeNative/
  Label shared-circeNative2_12 PRs: any of: ^.sbt/matrix/shared-circeNative2_12/
  Label shared-circeNative3 PRs: any of: ^.sbt/matrix/shared-circeNative3/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-ciris2_12 PRs: any of: ^.sbt/matrix/shared-ciris2_12/
  Label shared-ciris3 PRs: any of: ^.sbt/matrix/shared-ciris3/
  Label shared-cirisJS PRs: any of: ^.sbt/matrix/shared-cirisJS/
  Label shared-cirisJS2_12 PRs: any of: ^.sbt/matrix/shared-cirisJS2_12/
  Label shared-cirisJS3 PRs: any of: ^.sbt/matrix/shared-cirisJS3/
  Label shared-cirisNative PRs: any of: ^.sbt/matrix/shared-cirisNative/
  Label shared-cirisNative3 PRs: any of: ^.sbt/matrix/shared-cirisNative3/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label shared-localstack2_12 PRs: any of: ^.sbt/matrix/shared-localstack2_12/
  Label shared-localstack3 PRs: any of: ^.sbt/matrix/shared-localstack3/
  Label shared-localstackJS PRs: any of: ^.sbt/matrix/shared-localstackJS/
  Label shared-localstackJS2_12 PRs: any of: ^.sbt/matrix/shared-localstackJS2_12/
  Label shared-localstackJS3 PRs: any of: ^.sbt/matrix/shared-localstackJS3/
  Label shared-localstackNative PRs: any of: ^.sbt/matrix/shared-localstackNative/
  Label shared-localstackNative3 PRs: any of: ^.sbt/matrix/shared-localstackNative3/
  Label shared2_12 PRs: any of: ^.sbt/matrix/shared2_12/
  Label shared3 PRs: any of: ^.sbt/matrix/shared3/
  Label sharedJS PRs: any of: ^.sbt/matrix/sharedJS/
  Label sharedJS2_12 PRs: any of: ^.sbt/matrix/sharedJS2_12/
  Label sharedJS3 PRs: any of: ^.sbt/matrix/sharedJS3/
  Label sharedNative PRs: any of: ^.sbt/matrix/sharedNative/
  Label sharedNative2_12 PRs: any of: ^.sbt/matrix/sharedNative2_12/
  Label sharedNative3 PRs: any of: ^.sbt/matrix/sharedNative3/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-localstack3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstack3/
  Label smithy4s-client-localstackJS PRs: any of: ^.sbt/matrix/smithy4s-client-localstackJS/
  Label smithy4s-client-localstackJS3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstackJS3/
  Label smithy4s-client-localstackNative3 PRs: any of: ^.sbt/matrix/smithy4s-client-localstackNative3/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-logging-circe3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circe3/
  Label smithy4s-client-logging-circeJS PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeJS/
  Label smithy4s-client-logging-circeJS3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeJS3/
  Label smithy4s-client-logging-circeNative3 PRs: any of: ^.sbt/matrix/smithy4s-client-logging-circeNative3/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label smithy4s-client-transformers2_12 PRs: any of: ^.sbt/matrix/smithy4s-client-transformers2_12/
  Label smithy4s-client3 PRs: any of: ^.sbt/matrix/smithy4s-client3/
  Label smithy4s-clientJS PRs: any of: ^.sbt/matrix/smithy4s-clientJS/
  Label smithy4s-clientJS3 PRs: any of: ^.sbt/matrix/smithy4s-clientJS3/
  Label smithy4s-clientNative3 PRs: any of: ^.sbt/matrix/smithy4s-clientNative3/
  Label unidocs PRs: any of: ^unidocs/

Fix compile
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Finish up
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  integration-tests/src/test/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label integration-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

DeferredSink
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

Add tryPut
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Nested effects for FS2Producer return type (#164)
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  integration-tests/src/test/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label integration-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

deploy: 106915a92931bff6575ff51698c50c03e10dd4e1
  client/getting-started.html
  smithy4s/getting-started.html
Due: none

Add tryPut to FS2Producer (#167)
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Make sure producer loop never fails
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Update shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Fix compilation
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

Make sure producer loop never fails (#168)
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

deploy: ff6e663b60416039607d7969f3256896db4d2d9b
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Update http4s-circe, http4s-ember-client, ... to 0.23.22
  project/LibraryDependencies.scala
Due: none

Update sbt to 1.9.1
  project/build.properties
Due: none

Update cats-effect to 3.5.1
  project/LibraryDependencies.scala
Due: none

Update amazon-kinesis-client to 2.5.1
  project/LibraryDependencies.scala
Due: none

Update sbt to 1.9.1 (#170)
  project/build.properties
Due: none

Update cats-effect to 3.5.1 (#171)
  project/LibraryDependencies.scala
Due: none

Update amazon-kinesis-client to 2.5.1 (#172)
  project/LibraryDependencies.scala
Due: none

Update http4s-circe, http4s-ember-client, ... to 0.23.22 (#169)
  project/LibraryDependencies.scala
Due: none

Update scalafmt-core to 3.7.5
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.5 (#173)
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.6
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.6 (#174)
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.7
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.7 (#175)
  .scalafmt.conf
Due: none

Update sbt-crossproject to 1.3.2
  project/plugins.sbt
Due: none

Update sbt-crossproject to 1.3.2 (#176)
  project/plugins.sbt
Due: none

Update sbt to 1.9.2
  project/build.properties
Due: none

Update sbt to 1.9.2 (#177)
  project/build.properties
Due: none

Update scalafmt-core to 3.7.8
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.8 (#178)
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.9
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.7.9 (#179)
  .scalafmt.conf
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.11
  project/plugins.sbt
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.11 (#180)
  project/plugins.sbt
Due: none

Provide record deaggregation + feral support
  build.sbt
  docs/lambda/circe.md
  docs/lambda/directory.conf
  docs/lambda/getting-started.md
  project/LibraryDependencies.scala
  shared-circe/src/main/scala/kinesis4cats/consumer/lambda/instances/circe.scala
  shared-circe/src/main/scala/kinesis4cats/models/instances/circe.scala
  shared/src/main/scala/kinesis4cats/Aggregation.scala
  shared/src/main/scala/kinesis4cats/consumer/Record.scala
  shared/src/main/scala/kinesis4cats/consumer/lambda/KinesisStreamEvent.scala
  shared/src/main/scala/kinesis4cats/models/EncryptionType.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/test/scalajvm/kinesis4cats/consumer/RecordSpec.scala
  shared/src/test/scalajvm/kinesis4cats/producer/batching/AggregatedBatchSpec.scala
Due: Label shared PRs, Label shared-circe PRs

PR Comments
  shared/src/main/scala/kinesis4cats/consumer/Record.scala
Due: Label shared PRs

Create feral module
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  docs/lambda/circe.md
  docs/lambda/directory.conf
  docs/lambda/getting-started.md
  feral/src/main/scala/kinesis4cats/consumer/feral/KinesisStreamEvent.scala
  project/LibraryDependencies.scala
  shared/src/main/scala/kinesis4cats/consumer/lambda/KinesisStreamEvent.scala
Due: Label shared PRs

add to related sites
  build.sbt
Due: none
