Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label integration-tests PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-localstack PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-transformers PRs, Label unidocs PRs

Label aws-v1-localstack PRs:
  label:
    add:
    - aws-v1-localstack
    remove: []

Label aws-v2-localstack PRs:
  label:
    add:
    - aws-v2-localstack
    remove: []

Label compat PRs:
  label:
    add:
    - compat
    remove: []

Label integration-tests PRs:
  label:
    add:
    - integration-tests
    remove: []

Label kcl PRs:
  label:
    add:
    - kcl
    remove: []

Label kcl-ciris PRs:
  label:
    add:
    - kcl-ciris
    remove: []

Label kcl-http4s PRs:
  label:
    add:
    - kcl-http4s
    remove: []

Label kcl-localstack PRs:
  label:
    add:
    - kcl-localstack
    remove: []

Label kcl-logging-circe PRs:
  label:
    add:
    - kcl-logging-circe
    remove: []

Label kinesis-client PRs:
  label:
    add:
    - kinesis-client
    remove: []

Label kinesis-client-localstack PRs:
  label:
    add:
    - kinesis-client-localstack
    remove: []

Label kinesis-client-logging-circe PRs:
  label:
    add:
    - kinesis-client-logging-circe
    remove: []

Label kpl PRs:
  label:
    add:
    - kpl
    remove: []

Label kpl-ciris PRs:
  label:
    add:
    - kpl-ciris
    remove: []

Label kpl-localstack PRs:
  label:
    add:
    - kpl-localstack
    remove: []

Label kpl-logging-circe PRs:
  label:
    add:
    - kpl-logging-circe
    remove: []

Label shared PRs:
  label:
    add:
    - shared
    remove: []

Label shared-circe PRs:
  label:
    add:
    - shared-circe
    remove: []

Label shared-ciris PRs:
  label:
    add:
    - shared-ciris
    remove: []

Label shared-localstack PRs:
  label:
    add:
    - shared-localstack
    remove: []

Label smithy4s-client PRs:
  label:
    add:
    - smithy4s-client
    remove: []

Label smithy4s-client-localstack PRs:
  label:
    add:
    - smithy4s-client-localstack
    remove: []

Label smithy4s-client-logging-circe PRs:
  label:
    add:
    - smithy4s-client-logging-circe
    remove: []

Label smithy4s-client-transformers PRs:
  label:
    add:
    - smithy4s-client-transformers
    remove: []

Label unidocs PRs:
  label:
    add:
    - unidocs
    remove: []

Logback fixes for tests (#71)
  build.sbt
  kcl/src/test/resources/logback-test.xml
  project/Kinesis4CatsPlugin.scala
Due: Label kcl PRs

Graceful Producer Shutdown
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  kpl-ciris/src/main/scala/kinesis4cats/kpl/ciris/KPLCiris.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label integration-tests PRs, Label kcl PRs, Label kinesis-client PRs, Label kpl-ciris PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

Graceful Producer Shutdown (#72)
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  kpl-ciris/src/main/scala/kinesis4cats/kpl/ciris/KPLCiris.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label integration-tests PRs, Label kcl PRs, Label kinesis-client PRs, Label kpl-ciris PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

deploy: 0bb546a1f31131dff1aee2ee86e66c1b90143045
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Updating the doc badges
  docs/index.md
Due: none

deploy: 7afd53918573efafc320936b6b5f57fb73e44d72
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Avoid Scala Native Re-Linking
  .github/workflows/ci.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Add Java Dynamo and CloudWatch clients
  build.sbt
  docker/docker-compose.yml
  integration-tests/src/test/scalajvm/kinesis4cats/client/CloudWatchClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/DynamoClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackCloudWatchClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackDynamoClient.scala
  kinesis-client-logging-circe/src/main/scala/kinesis4cats/client/logging/instances/circe.scala
  kinesis-client/src/main/scala/kinesis4cats/client/CloudWatchClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/DynamoClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/logging/instances/show.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  shared/src/main/scala/kinesis4cats/logging/instances/show.scala
Due: Label integration-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label shared PRs

Remove smithy4s stuff
  build.sbt
  integration-tests/src/test/scalajvm/kinesis4cats/client/DynamoClientSpec.scala
Due: Label integration-tests PRs

avoid setting deprecation more than once
  build.sbt
Due: none

fix deprecation setting
  build.sbt
Due: none

fix doc
  kinesis-client/src/main/scala/kinesis4cats/client/CloudWatchClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/DynamoClient.scala
Due: Label kinesis-client PRs

Dynamo and Cloudwatch Clients for Java SDK (#75)
  build.sbt
  docker/docker-compose.yml
  integration-tests/src/test/scalajvm/kinesis4cats/client/CloudWatchClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/DynamoClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackCloudWatchClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackDynamoClient.scala
  kinesis-client-logging-circe/src/main/scala/kinesis4cats/client/logging/instances/circe.scala
  kinesis-client/src/main/scala/kinesis4cats/client/CloudWatchClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/DynamoClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/logging/instances/show.scala
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  shared/src/main/scala/kinesis4cats/logging/instances/show.scala
Due: Label integration-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label shared PRs

WIP
  build.sbt
  project/plugins.sbt
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/DynamoClient.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/logging/LogEncoders.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/logging/instances/show.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/ResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/package.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label smithy4s-client PRs

Update sbt-scala-native-config-brew, ... to 0.1.3
  project/plugins.sbt
Due: none

Update sbt-typelevel, ... to 0.4.19
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

WIP on dynamo/cloudwatch clients for S4S
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client-logging-circe/src/main/scala/kinesis4cats/smithy4s/client/logging/instances/circe.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/DynamoClient.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/KinesisClient.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/logging/LogEncoders.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/logging/instances/show.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/ResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/package.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs

WIP
  shared/src/main/scala/kinesis4cats/consumer/lease/Checkpointer.scala
  shared/src/main/scala/kinesis4cats/consumer/lease/Lease.scala
  shared/src/main/scala/kinesis4cats/consumer/lease/Leaser.scala
  shared/src/main/scala/kinesis4cats/models/ExtendedSequenceNumber.scala
Due: Label shared PRs

More WIP
  shared/src/main/scala/kinesis4cats/consumer/CommittableRecord.scala
  shared/src/main/scala/kinesis4cats/consumer/checkpoint/Checkpointer.scala
  shared/src/main/scala/kinesis4cats/consumer/checkpoint/fs2/FS2Checkpointer.scala
  shared/src/main/scala/kinesis4cats/consumer/lease/Checkpointer.scala
  shared/src/main/scala/kinesis4cats/consumer/lease/Leaser.scala
  shared/src/main/scala/kinesis4cats/consumer/logging/instances/show.scala
  shared/src/main/scala/kinesis4cats/models/EncryptionType.scala
  shared/src/main/scala/kinesis4cats/models/ExtendedSequenceNumber.scala
Due: Label shared PRs

WIP
  shared/src/main/scala/kinesis4cats/consumer/checkpoint/Checkpointer.scala
  shared/src/main/scala/kinesis4cats/consumer/lease/Coordinator.scala
Due: Label shared PRs

WIP
  shared/src/main/scala/kinesis4cats/consumer/CommittableRecord.scala
  shared/src/main/scala/kinesis4cats/consumer/Coordinator.scala
  shared/src/main/scala/kinesis4cats/consumer/StartingPosition.scala
  shared/src/main/scala/kinesis4cats/consumer/fetch/Fetcher.scala
  shared/src/main/scala/kinesis4cats/models/ChildShard.scala
  shared/src/main/scala/kinesis4cats/models/EncryptionType.scala
Due: Label shared PRs

Finish up clients
  integration-tests/src/test/scala/kinesis4cats/smithy4s/client/CloudWatchClientSpec.scala
  integration-tests/src/test/scala/kinesis4cats/smithy4s/client/DynamoClientSpec.scala
  integration-tests/src/test/scalajs/kinesis4cats/smithy4s/client/CloudWatchClientJSSpec.scala
  integration-tests/src/test/scalajs/kinesis4cats/smithy4s/client/DynamoClientJSSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/CloudWatchClientJVMSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/DynamoClientJVMSpec.scala
  integration-tests/src/test/scalanative/kinesis4cats/smithy4s/client/CloudWatchClientNativeSpec.scala
  integration-tests/src/test/scalanative/kinesis4cats/smithy4s/client/DynamoClientNativeSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/Common.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackCloudWatchClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackDynamoClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-transformers/src/main/scala/kinesis4cats/smithy4s/client/KinesisSpecTransformer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/CloudWatchClient.scala
Due: Label integration-tests PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-transformers PRs

Update http4s-blaze-client to 0.23.14
  project/LibraryDependencies.scala
Due: none

Update http4s-blaze-client to 0.23.14 (#79)
  project/LibraryDependencies.scala
Due: none

Update sbt-typelevel, ... to 0.4.19 (#77)
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

Update sbt-scala-native-config-brew, ... to 0.1.3 (#76)
  project/plugins.sbt
Due: none

Upgrade circe to 0.14.5
  .scala-steward.conf
  project/LibraryDependencies.scala
Due: none

deploy: 0740d0d2d0261418c964610415229f43b1adc388
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

deploy: 519d80b285c2348854f6cf9613b980783dcf2658
  client/circe.html
  client/getting-started.html
  client/localstack.html
  helium/laika-helium.css
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  site/styles.css
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Figure out resource for Polling Fetcher
  shared/src/main/scala/kinesis4cats/consumer/fetch/Fetcher.scala
Due: Label shared PRs

Upgrade circe to 0.14.5 (#80)
  .scala-steward.conf
  project/LibraryDependencies.scala
Due: none

WIP
  build.sbt
  integration-tests/src/test/resources/logback-test.xml
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/SubscribeToShardHandler.scala
Due: Label integration-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs

Fixes for SubscribeToShard / tests
  integration-tests/src/test/resources/logback-test.xml
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-logging-circe/src/main/scala/kinesis4cats/client/logging/instances/circe.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/SubscribeToShardHandler.scala
  kinesis-client/src/main/scala/kinesis4cats/client/logging/instances/show.scala
Due: Label integration-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs

Remove usage of Supervisor
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/SubscribeToShardHandler.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs

Fix docs, avoid using either
  docs/client/localstack.md
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
Due: Label kinesis-client PRs

More handling, back to resource
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/SubscribeToShardHandler.scala
Due: Label kinesis-client PRs

Use FS2 Streams for responses to SubscribeToShard + Paginated Requests (#81)
  build.sbt
  docs/client/localstack.md
  integration-tests/src/test/resources/logback-test.xml
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-logging-circe/src/main/scala/kinesis4cats/client/logging/instances/circe.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/SubscribeToShardHandler.scala
  kinesis-client/src/main/scala/kinesis4cats/client/logging/instances/show.scala
Due: Label integration-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs

deploy: 18512883b51e4038048c7373aac841ea589a66b4
  client/localstack.html
Due: none

WIP
  .gitignore
  shared/src/main/scala/kinesis4cats/consumer/fetch/Fetcher.scala
Due: Label shared PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label integration-tests PRs: any of: ^integration-tests/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label unidocs PRs: any of: ^unidocs/
