Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label integration-tests PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-localstack PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-transformers PRs, Label unidocs PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label integration-tests PRs: any of: ^integration-tests/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/
  Label unidocs PRs: any of: ^unidocs/

wip
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
Due: Label shared PRs

deploy: 620574d42eb7261f8b470e8be57ffbe2376245fb
  api/index.html
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  localstack/aws-v1.html
  localstack/aws-v2.html
  localstack/getting-started.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

Finish up retries
  docs/client/getting-started.md
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

make scala 3 happy
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
Due: Label shared PRs

Remove putWithRetry from docs
  docs/smithy4s/getting-started.md
Due: none

Fix logic
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
Due: Label shared PRs

docs fix
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
Due: Label shared PRs

WIP
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/fs2/ciris/KCLCirisFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl-logging-circe/src/main/scala/kinesis4cats/kcl/logging/instances/circe.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/RecordProcessor.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kcl/src/main/scala/kinesis4cats/kcl/logging/instances/show.scala
  kcl/src/test/scala/kinesis4cats/kcl/RecordProcessorSpec.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackCloudWatchClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackDynamoClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kinesis-client-logging-circe/src/main/scala/kinesis4cats/client/logging/instances/circe.scala
  kinesis-client/src/main/scala/kinesis4cats/client/CloudWatchClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/DynamoClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/logging/instances/show.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  kpl-ciris/src/main/scala/kinesis4cats/kpl/ciris/KPLCiris.scala
  kpl-localstack/src/main/scala/kinesis4cats/kpl/localstack/LocalstackKPLProducer.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
  shared-circe/src/main/scala/kinesis4cats/logging/instances/circe.scala
  shared-circe/src/main/scala/kinesis4cats/producer/logging/instances/circe.scala
  shared/src/main/scala/kinesis4cats/logging/instances/show.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/logging/instances/show.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/KinesisClient.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/RequestResponseLogger.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/middleware/ResponseLogger.scala
Due: Label kcl PRs, Label kcl-ciris PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label shared PRs, Label shared-circe PRs, Label smithy4s-client PRs

PR Comments
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
Due: Label shared PRs

double the retries
  docker/docker-compose.yml
Due: none

Uses standard retry library for Producer put method, consolidate to single put (#103)
  docker/docker-compose.yml
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

deploy: e9248fc5a2aed10af1e54abf32b87bc06f513946
  client/getting-started.html
  smithy4s/getting-started.html
Due: none

Standardize for LocalstackProxy
  docs/smithy4s/localstack.md
  integration-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  shared-localstack/src/main/scala/kinesis4cats/localstack/LocalstackConfig.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
Due: Label integration-tests PRs, Label shared-localstack PRs, Label smithy4s-client-localstack PRs

doc update
  docs/index.md
Due: none

Update KPL to 0.15.6
  project/LibraryDependencies.scala
Due: none

Update amazon-kinesis-producer to 0.15.6
  project/LibraryDependencies.scala
Due: none

Update sbt-crossproject to 1.3.1
  project/plugins.sbt
Due: none

Update sbt-crossproject to 1.3.1 (#107)
  project/plugins.sbt
Due: none

Consolidate LogEncoders classes
  docs/client/circe.md
  docs/kcl/circe.md
  docs/smithy4s/circe.md
  kcl-logging-circe/src/main/scala/kinesis4cats/kcl/logging/instances/circe.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kinesis-client-logging-circe/src/main/scala/kinesis4cats/client/logging/instances/circe.scala
  kinesis-client/src/main/scala/kinesis4cats/client/CloudWatchClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/DynamoClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  shared-circe/src/main/scala/kinesis4cats/producer/logging/instances/circe.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  smithy4s-client-logging-circe/src/main/scala/kinesis4cats/smithy4s/client/logging/instances/circe.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kcl-logging-circe PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label shared PRs, Label shared-circe PRs, Label smithy4s-client PRs, Label smithy4s-client-logging-circe PRs

Update amazon-kinesis-producer to 0.15.6 (#106)
  project/LibraryDependencies.scala
Due: none

Better circe example
  docs/kcl/circe.md
Due: none

Fix scaladoc
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label smithy4s-client PRs

deploy: 996558a1e3ad3ef37795d923db84e577f9d36fae
  client/circe.html
  client/getting-started.html
  client/localstack.html
  index.html
  kcl/circe.html
  kcl/ciris.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/circe.html
  kpl/ciris.html
  kpl/getting-started.html
  kpl/localstack.html
  smithy4s/circe.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: Label kcl PRs, Label kpl PRs

wip
  build.sbt
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/CloudWatchClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/DynamoClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/KinesisClient.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/fs2/FS2KinesisProducer.scala
  project/Kinesis4CatsPlugin.scala
  shared-localstack/src/main/scala/kinesis4cats/localstack/TestStreamConfig.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/main/scala/kinesis4cats/producer/fs2/FS2Producer.scala
  shared/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/KinesisClient.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducer.scala
Due: Label kcl PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label shared-localstack PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

More WIP
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackCloudWatchClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackDynamoClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
Due: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label kinesis-client-localstack PRs, Label smithy4s-client-localstack PRs

More WIP
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kpl-ciris/src/main/scala/kinesis4cats/kpl/ciris/KPLCiris.scala
  kpl-ciris/src/main/scala/kinesis4cats/kpl/instances/ciris.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
Due: Label kinesis-client-localstack PRs, Label kpl PRs, Label kpl-ciris PRs

More WIP
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/RetrievalType.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/fs2/ciris/KCLCirisFS2.scala
  kcl-ciris/src/test/scala/kinesis4cats/kcl/ciris/KCLCirisSpec.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/fs2/KCLConsumerFS2.scala
  kpl-ciris/src/test/scala/kinesis4cats/kpl/ciris/KPLCirisSpec.scala
  kpl-ciris/src/test/scala/kinesis4cats/kpl/instances/eq.scala
  kpl-ciris/src/test/scala/kinesis4cats/kpl/instances/show.scala
  kpl-localstack/src/main/scala/kinesis4cats/kpl/localstack/LocalstackKPLProducer.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
Due: Label kcl PRs, Label kcl-ciris PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs

finishing up code portion
  integration-tests/src/main/scalajvm/kinesis4cats/kcl/http4s/TestKCLService.scala
  integration-tests/src/test/scala/kinesis4cats/producer/ProducerSpec.scala
  integration-tests/src/test/scala/kinesis4cats/producer/fs2/FS2ProducerSpec.scala
  integration-tests/src/test/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/CloudWatchClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/DynamoClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/KinesisClientSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/KCLConsumerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/KCLConsumerFS2Spec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/fs2/multistream/KCLConsumerFS2MultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kcl/multistream/KCLConsumerMultiSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/kpl/KPLProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/KinesisClientJVMSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerNoShardMapSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/fs2/localstack/LocalstackKCLConsumerFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackCloudWatchClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackDynamoClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kpl-localstack/src/main/scala/kinesis4cats/kpl/localstack/LocalstackKPLProducer.scala
  kpl/src/main/scala/kinesis4cats/kpl/KPLProducer.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/KinesisClient.scala
Due: Label integration-tests PRs, Label kcl-localstack PRs, Label kinesis-client-localstack PRs, Label kpl PRs, Label kpl-localstack PRs, Label shared PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

Update logback-classic to 1.4.7
  project/LibraryDependencies.scala
Due: none

Update logback-classic to 1.4.7 (#110)
  project/LibraryDependencies.scala
Due: none

Doc fixes
  docs/client/circe.md
  docs/client/getting-started.md
  docs/client/localstack.md
  docs/kcl/circe.md
  docs/kcl/ciris.md
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  docs/kcl/localstack.md
  docs/kpl/circe.md
  docs/kpl/ciris.md
  docs/kpl/getting-started.md
  docs/kpl/localstack.md
  docs/localstack/aws-v1.md
  docs/localstack/aws-v2.md
  docs/smithy4s/circe.md
  docs/smithy4s/getting-started.md
  docs/smithy4s/localstack.md
  kcl-ciris/src/main/scala/kinesis4cats/kcl/ciris/KCLCiris.scala
  kcl-ciris/src/main/scala/kinesis4cats/kcl/fs2/ciris/KCLCirisFS2.scala
  kcl-localstack/src/main/scala/kinesis4cats/kcl/localstack/LocalstackKCLConsumer.scala
  kcl/src/main/scala/kinesis4cats/kcl/KCLConsumer.scala
  kpl-ciris/src/main/scala/kinesis4cats/kpl/ciris/KPLCiris.scala
  kpl-logging-circe/src/main/scala/kinesis4cats/kpl/logging/instances/circe.scala
Due: Label kcl PRs, Label kcl-ciris PRs, Label kcl-localstack PRs, Label kpl-ciris PRs, Label kpl-logging-circe PRs

Actually use streamsToCreate in all Localstack resources
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/localstack/LocalstackKinesisClient.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
Due: Label kinesis-client-localstack PRs, Label smithy4s-client-localstack PRs

headers...
  shared-localstack/src/main/scala/kinesis4cats/localstack/TestStreamConfig.scala
Due: Label shared-localstack PRs

Add tests for new configs
  kpl-ciris/src/test/scala/kinesis4cats/kpl/ciris/KPLCirisSpec.scala
  project/KPLCirisSpecVars.scala
Due: Label kpl-ciris PRs

fix smithy4s localstack producers
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
Due: Label smithy4s-client-localstack PRs

fix test
  integration-tests/src/test/scalajvm/kinesis4cats/client/producer/fs2/FS2KinesisProducerSpec.scala
  integration-tests/src/test/scalajvm/kinesis4cats/smithy4s/client/producer/fs2/FS2KinesisProducerSpec.scala
Due: Label integration-tests PRs

More test fixes
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/fs2/localstack/LocalstackFS2KinesisProducer.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
Due: Label kinesis-client-localstack PRs

Fix fatal warnings issue with compat
  build.sbt
Due: none
