Repository etspaceman/kinesis4cats: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label compat PRs, Label kcl PRs, Label kcl-ciris PRs, Label kcl-fs2 PRs, Label kcl-fs2-ciris PRs, Label kcl-http4s PRs, Label kcl-localstack PRs, Label kcl-logging-circe PRs, Label kcl-tests PRs, Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label kinesis-client-logging-circe PRs, Label kinesis-client-producer-tests PRs, Label kinesis-client-tests PRs, Label kpl PRs, Label kpl-ciris PRs, Label kpl-localstack PRs, Label kpl-logging-circe PRs, Label kpl-tests PRs, Label shared PRs, Label shared-circe PRs, Label shared-ciris PRs, Label shared-localstack PRs, Label shared-tests PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs, Label smithy4s-client-logging-circe PRs, Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs, Label smithy4s-client-transformers PRs

Path conditions:
  Label aws-v1-localstack PRs: any of: ^aws-v1-localstack/
  Label aws-v2-localstack PRs: any of: ^aws-v2-localstack/
  Label compat PRs: any of: ^compat/
  Label kcl PRs: any of: ^kcl/
  Label kcl-ciris PRs: any of: ^kcl-ciris/
  Label kcl-fs2 PRs: any of: ^kcl-fs2/
  Label kcl-fs2-ciris PRs: any of: ^kcl-fs2-ciris/
  Label kcl-http4s PRs: any of: ^kcl-http4s/
  Label kcl-localstack PRs: any of: ^kcl-localstack/
  Label kcl-logging-circe PRs: any of: ^kcl-logging-circe/
  Label kcl-tests PRs: any of: ^kcl-tests/
  Label kinesis-client PRs: any of: ^kinesis-client/
  Label kinesis-client-localstack PRs: any of: ^kinesis-client-localstack/
  Label kinesis-client-logging-circe PRs: any of: ^kinesis-client-logging-circe/
  Label kinesis-client-producer-tests PRs: any of: ^kinesis-client-producer-tests/
  Label kinesis-client-tests PRs: any of: ^kinesis-client-tests/
  Label kpl PRs: any of: ^kpl/
  Label kpl-ciris PRs: any of: ^kpl-ciris/
  Label kpl-localstack PRs: any of: ^kpl-localstack/
  Label kpl-logging-circe PRs: any of: ^kpl-logging-circe/
  Label kpl-tests PRs: any of: ^kpl-tests/
  Label shared PRs: any of: ^shared/
  Label shared-circe PRs: any of: ^shared-circe/
  Label shared-ciris PRs: any of: ^shared-ciris/
  Label shared-localstack PRs: any of: ^shared-localstack/
  Label shared-tests PRs: any of: ^shared-tests/
  Label smithy4s-client PRs: any of: ^smithy4s-client/
  Label smithy4s-client-localstack PRs: any of: ^smithy4s-client-localstack/
  Label smithy4s-client-logging-circe PRs: any of: ^smithy4s-client-logging-circe/
  Label smithy4s-client-producer-tests PRs: any of: ^smithy4s-client-producer-tests/
  Label smithy4s-client-tests PRs: any of: ^smithy4s-client-tests/
  Label smithy4s-client-transformers PRs: any of: ^smithy4s-client-transformers/

More fixes
  build.sbt
  kcl-tests/src/it/scala/kinesis4cats/producer/ProducerSpec.scala
  kcl-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/package.scala
Due: Label kcl-tests PRs, Label smithy4s-client PRs, Label smithy4s-client-producer-tests PRs

Fix test
  build.sbt
  project/LibraryDependencies.scala
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
Due: Label smithy4s-client-producer-tests PRs

fix
  build.sbt
Due: none

fix workflows
  .github/workflows/ci.yml
Due: none

Use provisioned
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/localstack/LocalstackKinesisClient.scala
  kinesis-client-tests/src/it/scala/kinesis4cats/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label kinesis-client-localstack PRs, Label kinesis-client-tests PRs, Label smithy4s-client-tests PRs

Try downgrading localstack
  docker/docker-compose-fun.yml
  docker/docker-compose-it.yml
Due: none

Update smithy4s-aws-http4s, smithy4s-core, ... to 0.17.4
  project/plugins.sbt
Due: none

Update amazon-kinesis-client to 2.4.5
  project/LibraryDependencies.scala
Due: none

Latest localstack again...
  docker/docker-compose-fun.yml
  docker/docker-compose-it.yml
Due: none

Cleanup streams in the client specs
  kinesis-client-tests/src/it/scala/kinesis4cats/client/KinesisClientSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label kinesis-client-tests PRs, Label smithy4s-client-tests PRs

Use blaze
  build.sbt
  docs/smithy4s/getting-started.md
  docs/smithy4s/localstack.md
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Use squash
  .mergify.yml
  project/Kinesis4CatsPlugin.scala
Due: none

fix mima
  build.sbt
Due: none

Configurable batcher. Some scaladoc
  shared/src/main/scala/kinesis4cats/producer/Constants.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/main/scala/kinesis4cats/producer/logging/instances/show.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
Due: Label shared PRs

Scaladoc, circe instances
  kinesis-client-localstack/src/main/scala/kinesis4cats/client/producer/localstack/LocalstackKinesisProducer.scala
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  shared-circe/src/main/scala/kinesis4cats/producer/logging/instances/circe.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/producer/localstack/LocalstackKinesisProducer.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
Due: Label kinesis-client PRs, Label kinesis-client-localstack PRs, Label shared PRs, Label shared-circe PRs, Label smithy4s-client PRs, Label smithy4s-client-localstack PRs

Docs, remove PutRequest
  docs/client/getting-started.md
  docs/smithy4s/getting-started.md
  kinesis-client/src/main/scala/kinesis4cats/client/producer/KinesisProducer.scala
  shared-circe/src/main/scala/kinesis4cats/producer/logging/instances/circe.scala
  shared-tests/src/main/scala/kinesis4cats/producer/ProducerSpec.scala
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/PutRequest.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/logging/instances/show.scala
  smithy4s-client/src/main/scala/kinesis4cats/smithy4s/client/producer/KinesisProducer.scala
Due: Label kinesis-client PRs, Label shared PRs, Label shared-circe PRs, Label shared-tests PRs, Label smithy4s-client PRs

localstack docs
  docs/client/localstack.md
  docs/smithy4s/localstack.md
Due: none

Flaky test for smithy4s client
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Use CI variable
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-tests PRs

Allow for more granular configuration for host/port on localstack
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
  aws-v2-localstack/src/main/scala/kinesis4cats/localstack/aws/v2/AwsClients.scala
  docs/localstack/getting-started.md
  kpl-localstack/src/main/scala/kinesis4cats/kpl/localstack/LocalstackKPLProducer.scala
  shared-localstack/src/main/scala/kinesis4cats/localstack/LocalstackConfig.scala
  smithy4s-client-localstack/src/main/scala/kinesis4cats/smithy4s/client/middleware/LocalstackProxy.scala
Due: Label aws-v1-localstack PRs, Label aws-v2-localstack PRs, Label kpl-localstack PRs, Label shared-localstack PRs, Label smithy4s-client-localstack PRs

pretty
  aws-v1-localstack/src/main/scala/kinesis4cats/localstack/aws/v1/AwsClients.scala
Due: Label aws-v1-localstack PRs

deploy: a8fdea8eda212119fb417c4860e0e2e1e250cdc2
  client/getting-started.html
  client/localstack.html
  localstack/getting-started.html
  smithy4s/getting-started.html
  smithy4s/localstack.html
Due: none

Update amazon-kinesis-client to 2.4.5 (#48)
  project/LibraryDependencies.scala
Due: none

Update sbt-assembly to 2.1.1 (#44)
  project/plugins.sbt
Due: none

More scaladoc / mdoc updates
  docs/client/getting-started.md
  docs/kcl/ciris.md
  docs/kcl/fs2.md
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  docs/kcl/localstack.md
  docs/kpl/getting-started.md
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
Due: Label shared PRs

More scaladoc / mdoc updates (#49)
  docs/client/getting-started.md
  docs/kcl/ciris.md
  docs/kcl/fs2.md
  docs/kcl/getting-started.md
  docs/kcl/http4s.md
  docs/kcl/localstack.md
  docs/kpl/getting-started.md
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
Due: Label shared PRs

deploy: fac8adf60d6b5c54c362e6f615bb7a0a3b089b16
  client/getting-started.html
  kcl/ciris.html
  kcl/fs2.html
  kcl/getting-started.html
  kcl/http4s.html
  kcl/localstack.html
  kpl/getting-started.html
Due: Label kcl PRs, Label kpl PRs

Disable mima until 0.1.x is released
  .github/workflows/ci.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Disable mima until 0.1.x is released (#50)
  .github/workflows/ci.yml
  build.sbt
  project/Kinesis4CatsPlugin.scala
Due: none

Add sbt dependency graph workflow
  .github/workflows/sbt-dependencies.yml
Due: none

Remove mima from publish
  project/Kinesis4CatsPlugin.scala
Due: none

Update cats-effect to 3.4.7
  project/LibraryDependencies.scala
Due: none

Update cats-effect to 3.4.7 (#51)
  project/LibraryDependencies.scala
Due: none

Aggregation WIP
  shared/src/main/scala/kinesis4cats/producer/Producer.scala
  shared/src/main/scala/kinesis4cats/producer/Record.scala
  shared/src/main/scala/kinesis4cats/producer/ShardMapCache.scala
  shared/src/main/scala/kinesis4cats/producer/batching/AggregatedBatch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batch.scala
  shared/src/main/scala/kinesis4cats/producer/batching/Batcher.scala
  shared/src/main/scala/kinesis4cats/producer/batching/ShardBatch.scala
  shared/src/test/scala/kinesis4cats/instances/eq.scala
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
Due: Label shared PRs

Fix tests
  shared/src/test/scala/kinesis4cats/producer/batching/BatcherSpec.scala
Due: Label shared PRs

Test new ember client
  build.sbt
  project/Kinesis4CatsPlugin.scala
  project/LibraryDependencies.scala
  smithy4s-client-producer-tests/src/it/scala/kinesis4cats/smithy4s/client/producer/KinesisProducerSpec.scala
  smithy4s-client-tests/src/it/scala/kinesis4cats/smithy4s/client/KinesisClientSpec.scala
Due: Label smithy4s-client-producer-tests PRs, Label smithy4s-client-tests PRs
